[2011-02-16 22:06] GaelVaroquaux opened #2 "Sphinx's plot extension, rather than a Makefile to generate the figures"
Some figures are generated by the Makefile. I don't like to rely too much on the Makefile, as it needs to be maintained. I'd prefer if the plots were generated by the matplotlib plot extension.

[2011-02-21 20:36] esc opened #3 "plot directive does not generate link to source code"
As advertised on:

http://matplotlib.sourceforge.net/sampledoc/extensions.html

In the HTML version of the document, the plot includes links to the original source code, a high-resolution PNG and a PDF. In the PDF version of the document, the plot is included as a scalable PDF.

However when using this directive the links are not generated. Perhaps this is caused since we ship our own copy of the

[2011-02-21 20:44] esc opened #4 "plot directive can't handle nested directories"
I ran into a problem when converting plots to sphinx plot directive. It apparently can't handle nested directories. When used in the sub-directory

  intro/summary-exercices/

The generated plot file is not copied over to the build directory, and hence not included in the final build. The following error is produced when running 'make html':

  /home/esc/git-working/scipy-lecture-notes/intro/summa

[2011-02-21 20:53] #2 closed, assigned to nobody

[2011-02-22 21:16] #3 closed, assigned to nobody

[2011-02-22 21:18] #4 closed, assigned to nobody

[2011-08-26 10:04] esc opened #19 "incompatabilities between 'intro numpy' and 'image processing'"
Hi,

it seems like some of the commits for the 'intro numpy' break the 'image processing'.

Possible dangerous commits are:
- eda3ceba3c317fddd417762e7c21a65e13804112
- 5a387d9ae9362358a57d18909c446aeb439a3ee6
- 90e41b5af1d9fad14ec80f1e9a5e4f2fb984a66d (but replaced by eda3ceba3c317fddd417762e7c21a65e13804112)

I presume this was the reason why Emmanuelle had to revert them for the tuorial this mo

[2011-08-31 08:59] cdeil opened #21 "Some issues with sphinx build"
I just found these wonderful lecture notes. Thank you!

Even though I think my python software is up to date I do get a few errors and warnings with the sphinx build and thought I'd let you know:

[code]

[2012-01-13 15:08] MySchizoBuddy opened #27 "Color printing"
I understand this has to be a printed in color cause of the images but there is lot of other colors like every single code has a color background. That is an awful lot of color to print and gain nothing. Can you create a version where the code background isn't colored. Perhaps add a border around the code to differentiate them. Color printing is expensive. I would prefer to use color ONLY where it

[2012-01-21 03:55] emptymalei opened #28 "Typos and typesettings"
On the one page per side version:

page 36, the last line,
"In you own code" should be "In your own code"

page 38, the last but two code box, code out of box.

[2012-03-20 13:27] horvatha opened #29 "Error in indexing example"
The red example is false in intro/numpy/numpy_indexing.png
It is not array([2,22,52]).

Thank you for this nice lecture notes. I like it.

[2012-04-22 13:26] #28 closed, assigned to nobody

[2012-04-22 19:05] #19 closed, assigned to nobody

[2012-06-25 01:21] ghost opened #32 "List examples have confusing elements"
My wife was doing the tutorial and said that the list examples (§1.2.2.2.1. and others) were a little confusing. Coming from Matlab, a list `l = [1,2,3,4,5]` where `l[0] == 1`, `l[2] = 3`, while highlighting the indexing differences, was still confusing. perhaps it would be better to have the list be `['a', 'b', 'c', 'd', 'e']` or random floats or something similar.

[2012-10-23 06:45] reverland opened #43 "About scipy-lecture-notes / advanced / optimizing / index.rst"
It seemed that it has never mentioned anything about ica.py in the index.rst……

In fact, I just tried to import `fastica` from sklearn.decomposition for I couldn't find out what the ica module is  until I found ica.py at `scipy-lecture-notes/advanced/optimizing/ica.py`.

It should be better if it is explicitly mentioned for beginners like me, I think

[2012-10-23 10:32] #43 closed, assigned to nobody

[2012-12-12 13:31] #32 closed, assigned to nobody

[2012-12-12 13:36] #21 closed, assigned to nobody

[2012-12-17 14:48] #29 closed, assigned to nobody

[2013-01-18 09:49] gravitino opened #58 "Swig bindings to C/C++/CUDA"
Are you interested in a section about swig and the interoperability with C/C++ or even CUDA? I could write something about that, if you like.

[2013-01-21 13:08] esc opened #63 "intersphinx for numpy is broken"
when doing `:mod:`numpy.linalg`` we don't get links into the numpy documentation. Not sure what is going wrong, because the intersphinx configuration looks fine.

[2013-01-21 14:06] esc opened #64 "take another look at doctests in advanced/image_processing/index.rst"

[2013-01-21 18:12] esc opened #66 "update authors list"
```git shortlog  -sn``` reports more people than listed in the ```AUTHORS.rst``` file -- sync them!

[2013-01-22 15:43] esc opened #68 "Consider moving section on help"
The section on getting help seems a little out of place as `1.4` sandwiched between the numpy and matplotlib sections . I suggest to move it to the end of the introductory section.

Thoughts?

[2013-01-26 12:33] #68 closed, assigned to nobody

[2013-02-02 13:01] esc opened #74 "Release next week?"
Since I will be using the lecture notes for teaching from 10-15 of Feb, I would like to do a release next week. I have some more material that needs to be merged, but does anyone see any blockers? Also, are there notes about how to release somewhere?

[2013-02-10 13:59] esc opened #79 "document release procedure"
Should probably document it, like:
1. Check HTML and PDF compiles, warnings are OK
2. Update and finalize changelog
3. Bump version (and copyright) in `conf.py`
4. Tag (lightweight)
5. do `make install`
6. Push tag? Push changes?

[2013-02-10 14:27] #74 closed, assigned to nobody

[2013-02-11 20:44] esc opened #81 "remove the list comprehension module from language example"
The section at:

http://scipy-lectures.github.com/intro/language/control_flow.html#list-comprehensions

is pretty useless. It has a single example of list comprehensions w/o any further explanation. Best it can do, is confuse students.

[2013-02-11 20:47] esc opened #82 "fix bug in modules example"
The example with the `demo2.py` is buggy:

http://scipy-lectures.github.com/intro/language/reusing_code.html#main-and-module-loading

No one knows why `demo2.py` should ever print `b`... Maybe it will need to `import demo`

[2013-02-11 20:51] esc opened #83 "update ipython tab completion examples"
The new IPython seems to no longer offer double underscore methods when pressing tab. The existing examples in the intro language chapter:

http://scipy-lectures.github.com/intro/language/basic_types.html

http://scipy-lectures.github.com/intro/language/reusing_code.html

And potentially others need to be revisited.

[2013-02-11 20:54] esc opened #84 "IPython and `print?`"
Newer IPython versions aren't happy with `print?`

http://scipy-lectures.github.com/intro/intro.html#the-interactive-workflow-ipython-and-a-text-editor

[2013-04-16 21:34] esc opened #87 "consider an example using cffi in the interfacing with C chapter"
http://common-lisp.net/project/cffi/

[2013-04-20 16:06] esc opened #88 "override pylab.rcParams"
To avoid that a custom `matplotlib_rc` file will break the plots on
generation, brutally put `pylab.rcParams` to
`pylab.rcParamsDefault` before executing each script.

Was cleaning out my INBOX and found this in an old email from oct 2011, not sure if it is still relevant.

[2013-06-30 03:22] mwiebe opened #90 "Issues for "interfacing with C""
1) This is an important read for anyone writing C-API code:

http://docs.python.org/2/c-api/intro.html#objects-types-and-reference-counts

2) Add a disadvantage to using the C-API directly:
- Reference count bugs are easy to create and very hard to track down.

3) Use a single multi-iterator for the npyiter example

4) Links for the numpy c api section:

http://docs.scipy.org/doc/numpy/reference/c

[2013-08-22 10:36] GaelVaroquaux opened #94 "Finish up new numpy section"
- [ ] In operations.rst, around line 209: the "data statistics" example
    can probably be completely removed in my eyes (it is in the
    exercises.rst file).
- [ ] I'd really like the random walk example back in. I use it to teach
    how a problem can be vectorized, rather than relying on for loops.
- [ ] The transpose remark should be put back in. It is a very important
    remark, in my expe

[2013-09-15 17:10] Juanlu001 opened #96 "Localization of the notes"
As of Sphinx 1.1, there is the posibility to generate translatable strings (.pot files) from a Sphinx project, like it is done in the Open Data Handbook:

https://github.com/okfn/opendatahandbook#building-the-english-source-for-translation-i18n

which can be later translated, for example, through a crowdsourcing service like Transifex:

https://www.transifex.com/projects/p/opendatahandbook/

(also

[2013-10-24 14:27] esc opened #100 "consider an example using xdress in the interfacing with C chapter"
https://pypi.python.org/pypi/xdress/0.3

[2013-10-25 07:45] mriehl opened #101 "Some plots do not work with scikit-image 0.9.x"
Some functions in scikit-image [were removed with 0.9.x](http://scikit-image.org/docs/0.9.x/api_changes.html) :

[code]

The docstring example in `skimage.morphology` seems to suggest that `peak_local_max` can be used as a drop-in replacement but that doesn't do the trick for me :

[code]

[2013-11-26 19:57] #101 closed, assigned to nobody

[2013-11-26 19:58] #100 closed, assigned to nobody

[2013-11-26 19:59] #87 closed, assigned to nobody

[2014-02-25 20:11] jhillairet opened #108 "Python Drawback: development environment"
First of all, many thanks for this fabulous resource !

It is stated in the first section that a drawback of Python is that Python has a "less pleasant development environment than, for example, Matlab. (More geek-oriented).".

Of course it is very true is one talks about pure python or ipython from the command line. But it exists fancy GUI to develop in Python, close to to the Matlab's user exper

[2014-04-08 12:04] MInner opened #109 "Optimization: what about SGD?"
I'm not an expert, but googling for a while tells me that when you can estimate gradient or if you have tons of training samples (when used in machine learning) then using SGD can be even more efficient than BFGS(-L).

http://metaoptimize.com/qa/questions/785/online-optimization-algorithms-are-there-good-implementations-libraries-to-use

http://www.quora.com/Machine-Learning/Is-the-L-bfgs-always-b

[2014-06-29 21:17] esc opened #115 "Release 2014.1"
Shall we prep a release in time for EuroScipy?

[2014-08-28 16:55] nicoguaro opened #123 "Sympy section is outdated"
The Sympy section is outdated, if you want to run the examples in the current version (0.7.5) some of them won't work.

[2014-12-06 00:02] westurner opened #126 "Add a chapter on testing"
Science is largely the process of testing, confirming, and rejecting hypotheses in order to answer questions.

Test-Driven Development is strongly aligned with this objective.

A section on testing could be helpful?

[2014-12-19 20:54] #82 closed, assigned to nobody

[2015-02-07 02:39] matthew-brett opened #130 "Python 3 version"
Very nice set of documents - thanks for this.

I am planning to teach with Python 3 - do you have any plans / suggestions for what do with Python 3 edits to these notes?

[2015-02-07 10:21] esc commented on #130
Hard to say for sure. Ideally some kind of translation mechanism would be a possibility. For example, to have a feature switch that allows generating the notes for Py2 and Py3 but from the same source code.

[2015-02-07 10:22] esc commented on #130
Another option is to maintain a patch-stack or translation branch that is continuously rebased.. We don't see too many edits anymore (the notes are fairly old already) so that might be viable.

[2015-02-07 17:38] GaelVaroquaux commented on #130
Well, a first think that we could do, is do all the simple changes, such
a parenthesis on prints.

[2015-02-13 17:26] gravitino commented on #58
After two years, I decided to write a boilerplate project for binding CUDA directly to numpy:
https://github.com/gravitino/pyCUREVERSE
Maybe, it is of use for you.

[2015-02-14 15:27] esc commented on #58
Interesting. I'll be closing this, feel free to reopen. The section about interfacing with C can be found at:

https://scipy-lectures.github.io/advanced/interfacing_with_c/interfacing_with_c.html

[2015-02-14 15:28] #58 closed

[2015-02-19 19:53] westurner opened #131 "Interfacing with C: CFFI"
A section on Interfacing with C through **CFFI** would be useful, both for CPython and for PyPy.

https://github.com/scipy-lectures/scipy-lecture-notes/edit/master/advanced/interfacing_with_c/interfacing_with_c.rst
- Docs: https://cffi.readthedocs.org/en/latest/
- PyPI: https://pypi.python.org/pypi/cffi
- Src: hg+ https://bitbucket.org/cffi/cffi

[2015-02-19 22:49] esc commented on #131
Duplicate of: https://github.com/scipy-lectures/scipy-lecture-notes/issues/87

But thanks for raising this again, maybe the time has come.

[2015-02-19 23:06] westurner commented on #131
This is Python-based CFFI, which is notable and relevant.

From http://pypy.org/compat.html :

[2015-02-25 10:18] rcrehuet opened #132 "Casting example not reproducible"
Hi,
When I try to execute the casting example in https://scipy-lectures.github.io/advanced/advanced_numpy/index.html#casting the `y+256` returns a broadcasted array to int16 not int8.

    array([257, 258, 259, 260], dtype=int16)

I am using Python 3.4 and numpy 1.8.2. (the same happens with Python 2.7)

[2015-02-28 18:19] esc commented on #131
If anyone has bandwidth for this, feel free to submit a PR!

[2015-06-08 16:02] muraii opened #134 "Section "Module Loading" Has Typo"
It seems that the importing of _demo2.py_ shouldn't create output of "b".

http://scipy-lectures.github.io/intro/language/reusing_code.html#main-and-module-loading

[2015-06-08 16:23] esc commented on #134
Almost correct, in fact ``demo2.py`` shouldn't print ``sys.argv`` but ``b``. Please submit a pull-request.

[2015-06-08 21:28] muraii commented on #134
I see that you're pulling in `demo2.py` with `.. literalinclude:: demo2.py`, and `demo2.py` correctly defines `print_b()`:

[code]

[2015-06-09 07:19] esc commented on #134
Thanks for investigating, looks like it is time for a new release afterall.

[2015-06-09 07:19] #134 closed

[2015-08-27 15:34] GaelVaroquaux commented on #109
SGD is great, and I use it heavily in machine learning. However, it is a very specific use case, specific in it's input data (statistical data), in it's way of being used, and in it's goal (it doesn't reach very low enery). In addition, it is fragile, as it requires tweaking the "learning rate", which is an open research question.

So, I disagree that it stands in a general-purpose tutorial optimi

[2015-08-27 15:34] #109 closed

[2015-08-27 15:46] GaelVaroquaux opened #137 "Improve the CSS"
* Check that it renders well on mobile phone

* Use PureCSS for the above, and because it looks cooler

* Add a "table of contents" that (models are http://nilearn.github.io/introduction.html#python-for-neuroimaging-a-quick-start http://bokeh.pydata.org/en/latest/, the design of bokeh being nicer):

   - Doesn't scroll down
   - Highlights the current section
   - Disappears on small screens (mobi

[2015-08-27 15:50] GaelVaroquaux opened #138 "Use sphinx-gallery"
We can throw away our gen_rst.py and use sphinx gallery.

Once this is done, we can use it's cool features, like the fact that you can have multiple sub gallery, and the notebook-style examples.

[2015-08-27 15:58] GaelVaroquaux opened #139 "Use travis-ci to run our doc tests"
On Python 2 and python 3: we need to run doc-test on the documentation, elsewhere it ends up broken (and fix them).

We can mimic the way nilearn does it to use miniconda for python 3
https://github.com/nilearn/nilearn

To run examples, we can use circle-ci, as done in nilearn, because it gives you much more computing power, and can cache dowloads in a persistent way across different runs.

[2015-08-27 17:17] GaelVaroquaux opened #140 "Get the epub sphinx builder to work"
Sphinx has an epub builder. It would be awesome to be able to provide good epub (eg for reading on the kindle). I suspect that there will be work making sure that everything renders well.

[2015-08-27 17:48] GaelVaroquaux opened #141 "Remove IPython style prompts"
Replace all the IPython style prompts by standard ">>>"

Rational:

* Simplifies build (we can remove ipython_console_highlighting.py)
* Enables doctesting
* The javascript ">>>" thing to remove interactively prompts is very cool.

[2015-08-27 17:51] GaelVaroquaux opened #142 "Add a tooltip to the ">>>" magic button on the code examples"
Using simple CSS plus html (eg as in the sphinx-gallery http://nilearn.github.io/auto_examples/index.html) we can add a tooltip that pops up on hover for the magic ">>>" that goes with the code prompts. That would strongly increase the discoverability of this feature.

[2015-08-28 13:29] GaelVaroquaux opened #145 "Make doctest pass reliably"
We need to move to more doctesting, which will force us to have more testable code.

Steps are

* [ ] Run 'make test', fix the failing, skip the rest
* [ ] Convert code snippets to use doctest-like syntax (eg those using IPython prompts or chunks of code without prompts
* [ ] Fix the resulting problems by adding things like doctest ellipsis, normalise white-space or skipping the test

[2015-08-28 13:42] GaelVaroquaux opened #146 "Add a chapter on working on the scipy-lectures"
- The chapter should be added last

- It should explain quickly

  - How to build (using sphinx)
  - How to doctest
  - The use of examples to generate figures (ie: figure are not allowed to be checked in)
 - The use of intersphinx to link across projects

- It should stress our style guide:
  - Chapters should be readable / doable as a tutorial in 1.5 hours to 2 hours max (which implies limiting

[2015-08-28 17:17] pdebuyl commented on #145
I'll join this

[2015-08-28 17:20] NelleV commented on #137
I can work on this.

[2015-08-28 17:21] jorisvandenbossche opened #147 "Pandas section"
From a discussion with Gael, it would be nice to add an introductory section on pandas.

[2015-08-28 17:22] GaelVaroquaux commented on #147
+1

[2015-08-28 17:27] raquel-ucl commented on #137
I can help as well

[2015-08-28 17:29] raquel-ucl commented on #142
I can work on this.

[2015-08-28 17:31] djarecka commented on #138
trying

[2015-08-28 17:40] NelleV opened #148 "Create a make html-noplot task in the makefile"
… to build the documentation without the plots, mostly for developing purposes.

See slkearn's makefile for an example.

[2015-08-28 18:49] raquel-ucl opened #151 "Make the >>> text in the example unselectable"
Users who want to copy and paste from the examples have to click on the `>>>` button to filter out the `>>>` symbols. It'd be nice to get rid of the `>>>` button and just make the `>>>` text in the textarea unselectable like in [this example](https://jsfiddle.net/raquelalegre/nw0uw6zc/).

Note JsFiddle doesn't work as a normal website and although the highlight behaviour works for this example, it

[2015-08-30 13:36] GaelVaroquaux opened #178 "Make tests pass on Python 3"
We should enable testing on travis for Python 3 and then fix the resulting problems with tests.

Maybe after #176 is merged (ie: the corresponding test failures are fixed) and #141 is fixed.

[2015-08-30 22:09] GaelVaroquaux commented on #140
"make epub" works more or less:

- The epub it produces seems to be readable by a small number of epub readers (but okular manages it)
- The layout is very broken and needs to be fixed.

[2015-09-01 12:43] #145 closed

[2015-09-01 12:45] #141 closed

[2015-09-01 12:45] #178 closed

[2015-09-03 09:01] vahtras commented on #139
This was fixed at the Euroscipy sprints I beleive. Closing.

[2015-09-03 09:01] #139 closed

[2015-09-03 15:11] vahtras commented on #64
doctests were fixed at Euroscipy2015 sprints. Closing

[2015-09-03 15:11] #64 closed

[2015-09-10 07:58] vahtras opened #187 "Errors and warnings during "make html": plot_gradient_descent.py"
There are several, but I will start with one:

plot_gradient_descent.py is not compiling:
Traceback (most recent call last):
  File "/home/vahtras/Courses/scipy-lecture-notes/sphinxext/gen_rst.py", line 236, in generate_file_rst
    execfile(os.path.basename(src_file), {'pl' : plt})
  File "plot_gradient_descent.py", line 175, in <module>
    hessian=counting_hessian)
  File "plot_gradient_descent

[2015-09-10 13:25] GaelVaroquaux commented on #187
I need to fix the example (it's easy, I'll do it).

This example useful to create the figures, that are didactic (I was just
sitting in a signal-processing conference today, and one speaker was
using these to explain gradient descent).

[2015-09-10 13:47] GaelVaroquaux commented on #187
I have create a PR to fix this: #188 . I have checked that the figures generated are the same as the ones on line.

[2015-09-10 16:14] #187 closed

[2015-09-11 07:46] vahtras opened #189 "More build errors: scikit-image/index.rst"
$ make html
    ...
    /home/olav/courses/scipy-lecture-notes/packages/scikit-image/index.rst:458: SEVERE: Title level inconsistent:

    Binary segmentation: foreground + background
    .............................................

The subsection is empy and has an inconsistent level. The header does not show up in the final html and I don't really know what to make of it.

[2015-09-16 01:31] matthew-brett opened #192 "Time for rebuild?"
Would y'all consider uploading a current version of the lectures?  We're admiring the introduction to bumpy, but it still has the recommendation to use `--pylab` removed by #133 .  Maybe there are other useful changes that would be good to publish?

[2015-09-16 05:17] GaelVaroquaux commented on #192
Yes, we need to do a new release. Amongst other things the lectures have
been ported to Python 3. I was waiting for a few pull requests that I
have been promised before doing a release. It should happen in the next
couple of weeks hopefully.

[2015-09-16 05:25] rougier commented on #192
I'll try to make a PR for the matplotlib chapter and removed the pylab stuff.

[2015-09-16 06:12] GaelVaroquaux commented on #192
That's great. Thanks!

[2015-09-21 02:27] GaelVaroquaux commented on #189
Good catch. I'll have a look at it, and fix ASAP.

[2015-09-21 06:59] #189 closed

[2015-09-21 07:39] GaelVaroquaux commented on #151
Reopening: wrong issue number, the commit fixes #142

[2015-09-21 07:40] GaelVaroquaux commented on #142
Closed as fixed by 3b0bf84

Sorry, @raquel-ucl, we needed to do a release so I went forward and did a little to enable this.

[2015-09-21 07:40] #142 closed

[2015-09-21 07:46] GaelVaroquaux commented on #130
I am closing this, as it has been implemented in master. We will have a release anytime (I hope today or tomorrow).

[2015-09-21 07:46] #130 closed

[2015-09-21 07:46] GaelVaroquaux commented on #115
Closing, as we are moving towards release 2015!

[2015-09-21 07:46] #115 closed

[2015-09-21 08:31] vahtras opened #193 "Build errors: seaborn.pairplot"
What versions should we aim at? In standard ubuntu the seaborn version is 0.4 and the `markers` keyword is not supported. The latest version is 0.6

    plot_airfare.py is not compiling:
    Traceback (most recent call last):
      File "/home/vahtras/courses/scipy-lecture-notes/sphinxext/gen_rst.py", line 695, in generate_file_rst
        execfile(os.path.basename(src_file), my_globals)
      Fil

[2015-09-21 09:05] vahtras commented on #193
By standard, I mean the latest ubuntu distribution 15.04. Next ubuntu distribution 15.10 will have seaborn 0.6

[2015-09-21 17:31] GaelVaroquaux opened #195 "Enable Circle CI"
As done in nilearn, to test that the examples do run correctly.

[2015-09-22 22:44] GaelVaroquaux commented on #193
Indeed. Because this is such a useful feature, I was hoping that we could, for this feature only, have an example that runs only on more recent versions. I have added this in the text of the lecture notes.  Maybe I should add this as a note in the example. What do you think?

Sent from my phone. Please forgive brevity and mis spelling

On Sep 21, 2015, 10:31, at 10:31, Olav Vahtras <notifications@

[2015-09-23 07:09] GaelVaroquaux commented on #148
Implemented in 76ec03187fea9c859

[2015-09-23 07:09] #148 closed

[2015-09-23 07:10] GaelVaroquaux commented on #137
The sidebar is now implemented in master. Mobile work OK. Closing.

[2015-09-23 07:10] #137 closed

[2015-09-23 20:49] GaelVaroquaux commented on #123
This is fixed, and now we have a continuous integration system to make sure that it doesn't happen again. Thanks.

[2015-09-23 20:49] #123 closed

[2015-09-24 07:26] vahtras commented on #193
That's a good idea. OK we will leave it and next  Ubuntu is less than a
month away...
-Olav

On Wed, Sep 23, 2015 at 12:45 AM, Gael Varoquaux <notifications@github.com>
wrote:

[2015-09-26 21:45] rougier opened #199 "Zenodo DOI"
It could be nice to register (before next release) the notes on Zenodo such as to have a DOI for the next release.

[2015-09-26 21:52] GaelVaroquaux commented on #199
That's a good idea. I'll do it tomorrow.

[2015-09-28 19:46] rougier opened #201 "The Python language does not have ToC sidebar"
On Safari, OSX, the python language section does not have a ToC sidebar.

Same for Numpy section.

[2015-09-28 19:50] rougier opened #202 "Too deep numbering ?"
4 levels for numbering might be a bit too much (see http://www.scipy-lectures.org/intro/language/python_language.html)

Can't we stop numbering after 3rd level ?

[2015-09-28 19:54] GaelVaroquaux commented on #201
Everywhere: the corresponding page have no sub section, they are in other
pages.

I believe that this is "not a bug".

[2015-09-28 19:55] GaelVaroquaux commented on #202
On this specific page it seemed OK to me (on others, it seems to me that
the "chapter contents" is too deep).

[2015-09-29 05:03] GaelVaroquaux opened #204 "Integrate Thebe for interactive IPython notebooks"
https://oreillymedia.github.io/thebe/
It's a javascript library that can turn a static page with code snippets into an interactive one.

[2015-09-29 06:41] fperez commented on #204
@Carreau, do you have M. Pacer's github ID so we can ping him? He has a prototype of this already working...

[2015-09-29 07:47] GaelVaroquaux commented on #199
Fixed, and corresponding badge added to README.rst

[2015-09-29 07:47] #199 closed

[2015-09-29 07:51] GaelVaroquaux commented on #204
That would be awesome! Taking teaching to the next level!

[2015-09-29 10:31] GaelVaroquaux commented on #192
Closing as fixed!

Sorry it took so long, there was a fair amount of QA to do.

[2015-09-29 10:31] #192 closed

[2015-09-29 13:42] Carreau commented on #204
Yep, @michaelpacer your needed here.

The prototype is there: http://michaelpacer.github.io/thebe-test/ . You need a server on localhost that allow-origin='*' for now, which is not recommended for security reason.

@GaelVaroquaux I think it might be a nice feature to add to sphinx-gallery too.

[2015-09-29 14:52] GaelVaroquaux commented on #204
Agreed. Or maybe even binder support for actual notebooks generated from
sphinx-gallery, which should come soon.

[2015-09-29 15:46] matthew-brett commented on #192
Thanks a lot for doing that.

[2015-09-29 20:46] michaelpacer commented on #204
I didn't know that there was work on generating notebooks from
sphinx-gallery, I'd been looking in how to do that just using vanilla
sphinx. Sounds great!

I may need to make a new repo to for the source sphinx files and the
template needed to make it happen. I'm a bit pressed for time at the
moment, but the other big step is to have it work on a tmpnb inside of a
docker instance.

And as for the

[2015-10-01 20:54] MInner commented on #109
AFAIK, it is proved to converge in convex case if the objective function is the sum of function applied on many let's say, data points. Then, taking derivative wrt some subset of sum elements should work fine.

[2015-10-06 12:17] Naereen opened #209 "Missing sentence in advanced/mathematical_optimization "Noisy vs non-noisy""
In the remark about **Noisy gradients** on the page [advanced/mathematical_optimization/index.html](http://www.scipy-lectures.org/advanced/mathematical_optimization/index.html#noisy-versus-exact-cost-functions) ([this file](https://github.com/scipy-lectures/scipy-lecture-notes/blame/master/advanced/mathematical_optimization/index.rst#L136) line 136), the last sentence is not finished.

Dear @GaelV

[2015-10-07 06:39] #209 closed

[2015-10-07 15:38] Naereen commented on #209
Well it's exactly what I thought, but thanks for confirming and updating.

[2015-10-29 09:09] GaelVaroquaux opened #215 "Modernize the optimization chapter"
scipy.optimize has now a much nicer interface (functions minimize and minimize_scalar). We should modernize the optimization chapter to use that.

[2015-11-19 15:08] JQFonseca opened #219 "Minor mistake in section 1.3.1"
Great resource thank you for the hard work.

In section 1.3.1.4 it says:

Or, if you have enabled interactive plots with %matplotlib:

should be plt.plot(x,y) I think.

[2016-03-02 19:42] pdebuyl commented on #219
You are right, `%matplotlib` adds `plt` to the namespace but not the functions themselves.

[2016-03-24 15:41] franktoffel opened #227 "How to install section is missing?"
I couldn't find any reference in the lectures regarding how to install the scientific libraries covered (i.e. anaconda), specially in the beginning.  Is there any reason for that?

[2016-07-28 11:46] fnorf opened #239 "The PDF's Page 61 has misplaced image at the bottom of the page"
The PDF's Page 61 has a misplaced image at the bottom of the page, see
![untitled](https://cloud.githubusercontent.com/assets/279583/17211408/a247c464-54c9-11e6-905c-5a12599489f0.png)

[2016-08-24 15:35] gertingold opened #243 "Make code compatible with Python 3"
Some code examples are specific for Python 2. For example, in some places `xrange` is used. It would be better to modify the code to make it compatible with Python 2 and Python 3.

[2016-08-24 16:00] GaelVaroquaux opened #244 "Set up circle-CI to render docs and examples"
The best option is to adapt that of nilearn.

Maybe @lesteve can help with that?

[2016-08-26 07:33] GaelVaroquaux opened #245 "Modernize the scikit-learn chapter"
The scikit-learn chapter is really bad: it was written a very long time ago, when the project was young.

I give a course each year that fits in the time, and would be great material to integrate in the scipy-lectures. It is hosted as IPython notebooks:
https://github.com/GaelVaroquaux/sklearn_ensae_course

This would be a not too hard task, as it's mostly a question of changing the form of the ma

[2016-08-26 07:38] GaelVaroquaux commented on #147
I talked with @jorisvandenbossche, and he says that he is having a hard time do it by himself, but would

Great materials at: https://github.com/jorisvandenbossche/pandas-tutorial, that could be condensed into a chapter.

[2016-08-26 07:39] GaelVaroquaux commented on #195
Closing as a duplicate of #244

[2016-08-26 07:39] #195 closed

[2016-08-26 07:40] GaelVaroquaux commented on #138
@titan-C should be able to help with this.

[2016-08-26 07:42] GaelVaroquaux commented on #96
I am closing this issue, as there has not been activity in 3 years, and I am not sure that we have the bandwidth to undertake such an endeavor.

[2016-08-26 07:42] #96 closed

[2016-08-26 07:48] GaelVaroquaux commented on #126
If someone takes this up, I think that it's important not only to describe software issues, but also the thought process of testing, how to isolate subproblems for testing, tips and tricks for testing (for instance using io.BytesIO instead of files, to inspect what a routine does to a file.

[2016-08-26 13:05] #219 closed

[2016-08-26 13:30] GaelVaroquaux commented on #202
@rougier : do you know how to do this in sphinx?

[2016-08-26 13:31] GaelVaroquaux commented on #201
Closing this. Partly because I don't know how to fix this. If you have a fix in mind, don't hesitate to reopen.

[2016-08-26 13:31] #201 closed

[2016-08-26 13:35] GaelVaroquaux commented on #108
Indeed, we should point out to the jupyter notebook, spyder, pycharm, and be more positive, as these days, things are pretty sweet with Python.

[2016-08-26 13:39] rougier commented on #202
I don't know but I'll search.

[2016-08-26 13:42] GaelVaroquaux commented on #88
This should be done in sphinx-gallery. Cc @titan-C

[2016-08-26 13:52] rougier commented on #202
It could be fixed using the [sectnum](http://docutils.sourceforge.net/docs/ref/rst/directives.html#sectnum) but unfortunatley, Sphinx recommends [to not use it](http://www.sphinx-doc.org/en/stable/rest.html#directives):

[code]

[2016-08-26 20:51] GaelVaroquaux opened #246 "Make sure that introductory words point to Python 3"
In the beginning of the scipy lectures, in the first few sections, we should make sure that we push people to use Python 3.

[2016-08-27 09:18] btel opened #250 "Consistent Numpy/NumPy naming"
In the lecture both NumPy and Numpy (lowercase or uppercase 'p') are used:

[code]

 It would be better to choose one and be consistent.

[2016-08-27 11:06] GaelVaroquaux commented on #250
Agreed. What's the official spelling?

[2016-08-27 15:31] #244 closed

[2016-08-27 20:13] emmanuelle commented on #132
Thank you for the issue. It has been fixed by #161. Therefore I'm closing the issue.

[2016-08-27 20:13] #132 closed

[2016-08-28 16:24] emmanuelle commented on #250
I would say that it's NumPy, but even http://docs.scipy.org/doc/numpy/reference/ is not completely consistent: the first sentence is "This reference manual details functions, modules, and objects included in Numpy, describing what they are and what they do. For learning how to use NumPy, see also NumPy User Guide" so they are using the two different names in the two sentences!

[2016-08-28 19:57] emmanuelle opened #262 "Replace old figure with generated one"
Figure http://www.scipy-lectures.org/_images/random_c.jpg is not so nice and a static file (disclaimer: it's an old figure from my PhD work =p). It would be better to replace it with a cool figure generated from a Python script.

[2016-08-28 19:58] GaelVaroquaux commented on #262
Maybe bessel functions, as in the following Chaco plot:
http://docs.enthought.com/chaco/user_manual/annotated_examples.html#bigdata-py

[2016-08-28 20:57] #108 closed

[2016-08-28 20:57] #227 closed

[2016-08-28 20:57] #246 closed

[2016-08-28 21:14] emmanuelle commented on #146
I did not see this issue before I started working on #260. Some points listed above have been fixed but not all of them.

[2016-08-29 00:33] btel commented on #250
Thanks, @emmanuelle. I reported it back on numpy issue tracker: https://github.com/numpy/numpy/issues/7986

[2016-08-29 08:19] emmanuelle opened #263 "Remove static image files whenever possible"
A majority of the image files of the repository could be generated from Python scripts. Use
[code]
to find them.

[2016-08-29 08:21] emmanuelle commented on #263
However, some of these images are in chapters that need to be rewritten (like the scikit-learn chapter, see #245), so first go through the list of open issues before working on generating the images.

[2016-09-06 12:16] vahtras commented on #66
Closing an out of date issue, see commit f952cf91

[2016-09-06 12:16] #66 closed

[2016-09-08 11:23] vahtras commented on #193
Not relevant any more - Closing issue

[2016-09-08 11:23] #193 closed

[2016-09-08 11:56] vahtras commented on #250
PR merged. Closing.

[2016-09-08 11:56] #250 closed

[2016-09-08 15:35] NelleV opened #268 "The website hangs when yahooapi.com is down"
And yahooapi.com is currently down…

[2016-09-12 21:10] NelleV commented on #268
Apparently, I just blocked our IP address by building the matplotlib documentation too many times (the matplotlib documentation was downloading stuff from yahoo api).

I am closing this, thought it be nice to have whatever is loaded by the website loaded at the end and not the beginning to still have the pages load. (Sorry for being so unclear… I can detail more if need be).

[2016-09-12 21:11] #268 closed

[2016-09-15 04:36] moorepants opened #269 "Is 1-2 hours per chapter realistic?"
On the main page it claims that the chapters correspond to a 1 to 2 hour course. Does this mean for live teaching or for private reading and working?

After checking out the first chapter, there seems to be way more material than could be covered in a 1 to 2 hour classroom session. Are the time estimates from previous teaching?

Not sure where else to ask this.

[2016-09-15 05:32] GaelVaroquaux commented on #269
Live teaching.

Estimates from previous teaching. That said, when I teach the first
chapter, I do tend to skip parts. We should find a way to indicate which
parts are "skippable". Any suggestion on a good formulation to indicate
that?

[2016-09-15 05:52] moorepants commented on #269
Ok, that sounds good.

SWC introduced timings for each section of their lessons recently. It'd be nice if we had section level timings listed for these lessons. I think it would be up to the instructor to decide what they want to skip. It'd be helpful to know whether future topics depend on each section. With timings and dependencies listed it would become quite easy to modularize the lessons and

[2016-09-15 21:04] GaelVaroquaux commented on #138
Closed as implemented by #257

[2016-09-15 21:04] #138 closed

[2016-09-15 22:43] GaelVaroquaux opened #270 "Expose each gallery as a "code sample" section, at the end of each chapter"
For each chapter with an example/auto_example gallery, we should include it at the end of the chapter the corresponding gallery. Examples in the current master are for the matplotlib chapter, or the statistics chapter.

Things to keep in mind are that it should slot in as well as possible in the table of content. For this, we can play with either a toctree to include it (as in the matplotlib chapt

[2016-09-21 15:39] souravsingh commented on #245
@GaelVaroquaux I would like to take a stab at the issue.

[2016-09-21 15:55] GaelVaroquaux commented on #245
Yey! That's great.

It should be somewhat straightforward. But somewhat only.

I am not sure what the best option is in terms of transforming the IPython notebooks.

Quite clearly the first one should be turned into a rst document and a few examples to generate the figures (make sure that you understand well the generation of figures with sphinx-gallery).

Similarly for the second one (skip the la

[2016-10-10 15:43] GaelVaroquaux opened #272 "Add a section quick start at the end of the first chapter"
Doing the full numpy and matplotlib chapters may be overkill for someone who wants to get a quick understanding of the basic before looking at a chapter like sympy, statistics, or scikit-learn.

The way I tackle this is usually with a super brief introduction to the basic: https://github.com/GaelVaroquaux/sklearn_ensae_course/blob/master/rendered_notebooks/01_data_manipulation.ipynb
I suggest to a

[2017-01-03 23:24] zpz opened #278 "'in-place operation' code example obsolete?"
2.2.1.4.6. Example: inplace operations (caveat emptor)

The example regarding

  x -= x.transpose()

shows correct result, without the in-place modification effect showcased in the sample.

I'm using Python 3.5.2, numpy 1.11.3

[2017-01-03 23:27] zpz opened #279 "'block of memory' code example obsolete?"
2.2.1.2. Block of memory

the example in my machine prints out differently:

In [256]: x = np.array([1,2,3], dtype=np.int32)

In [257]: x.data
Out[257]: <memory at 0x7f16471847c8>

In [258]: str(x.data)
Out[258]: '<memory at 0x7f1647184888>'

I'm using Python 3.5.2, bumpy 1.11.3

To get the print-out in the notes, I needed to use 'tobytes':

In [259]: x.tobytes()
Out[259]: b'\x01\x00\x00\x00\x02\x

[2017-03-29 16:48] tiger2wander commented on #140
Hey, any update for epub build? It is very hard to read in pdf on Ebook reader (I'm using Kobo Aura H2O). Text is very small with large margin.

[2017-03-29 16:51] GaelVaroquaux commented on #140
No. It requires work (sphinx supports it, in theory). There is an epub
target in the Makefile, but it doesn't produce a readable epub. If you
want to take up the work to fix that, it would be fantastic.

[2017-03-29 16:53] tiger2wander commented on #140
Sorry but I'm busy with projects, hope I can find sometime to take it soon.

[2017-04-12 18:34] amueller opened #281 "matplotlib tutorial: examples not showing"
here:
http://www.scipy-lectures.org/intro/matplotlib/matplotlib.html#other-types-of-plots-examples-and-exercises

![image](https://cloud.githubusercontent.com/assets/449558/24973542/292f2420-1f8d-11e7-8d52-69df776ce9ef.png)

I don't think that's intentional.

[2017-04-12 18:35] amueller opened #282 "matplotlib tutorial: "edit" link dead"
The edit link in the top right corner goes here:
https://github.com/scipy-lectures/scipy-lecture-notes/edit/master/intro/matplotlib/matplotlib.rst

which is 404

[2017-04-24 16:45] choldgraf opened #283 "update matplotlib section"
First of all, these resources are **awesome**.

Secondly - I noticed that the matplotlib section could use some improvements. A few quick points:

1.  Are these examples using MPL 2.0? They should!
2. There should be the use of `plt.subplots` in there somewhere, as I feel like this is the most common axis creation step people take.
3. A lot of these links are gonna break soon as I'm updating the m

[2017-04-24 17:27] rougier commented on #283
1. Not, I made them using pre-2.0 version.
2. I tend to stick to `plt.subplot` but you're right an example using `plt.subplots` would be a great adition
3. That's great news. Could drop us a message when you'll push the change ?
4. Not sure about plan on that.

[2017-04-25 09:03] pdebuyl commented on #281
A "fresh" build does not do this. @GaelVaroquaux what is the procedure for re-building the website?

[2017-04-25 13:24] amueller commented on #282
works now, now idea what changed. Thanks for checking :)

[2017-04-25 13:24] #282 closed

[2017-04-25 13:26] GaelVaroquaux commented on #282
Pierre, you're awesome at fixing bugs!

[2017-04-25 13:26] pdebuyl commented on #282
No problem, I come from time to time to check the issues here :-)

[2017-06-15 13:54] pdebuyl commented on #239
Thank you for the report.

I cannot reproduce with the current head or with the version tagged 2015.2, can you or one of the maintainers reproduce this bug?

[2017-06-15 15:26] gertingold commented on #239
I cannot reproduce it with the current head. The figure in question now appears on top of page 67. On the other hand, the output on page 56 is overlapping the footer (using Sphinx 1.5.3).

[2017-06-15 15:49] pdebuyl commented on #239
sphinx-build 1.4.9, I have an overlap on the footer of page 54 :-/

It is the latex verbatim environment that does not place itself right here.

[2017-06-15 15:54] gertingold commented on #239
I wonder whether it would be a good idea to have a requirements file in order to obtain consistent results. Part of the version information could be taken from `.travis.yml`, but the Sphinx version is not defined there.

[2017-06-16 11:47] pdebuyl commented on #239
I believe that the end result may depend on also the latex installation (versions of latex packages, etc). so a more robust solution would be needed, such as making those verbatim into floats.

[2017-06-16 11:49] GaelVaroquaux commented on #239
It might be good to do this on our CI server, to ensure such a robust
solution and point to the resulting PDF.

[2017-06-16 12:07] gertingold commented on #239
I do not think that floats would be the solution. If code snippets can float around, the connection to the discussion of the code is lost and one is constantly searching for code. Interestingly, I never did experience problems with code not breaking correctly in my lecture notes produced in Sphinx (see https://gertingold.github.io). May be we need to look more into the details of the LaTeX code an

[2017-08-24 07:59] GaelVaroquaux opened #288 "Time out on circleCI"
I am getting timeouts on CircleCI that I don't understand:
https://circleci.com/gh/GaelVaroquaux/scipy-lecture-notes/39?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

It's during the final build of sphinx, and not the run of the examples.

[2017-08-24 09:50] GaelVaroquaux commented on #288
It's fixed in https://github.com/scipy-lectures/scipy-lecture-notes/pull/287/commits/cf3f23eb0e888884dcd6ef8993720fc92e18e958 . I don't know if it's because I fixed warnings, or just a fluke in the force.

[2017-08-24 09:50] #288 closed

[2017-08-28 13:59] pdebuyl commented on #281
solved by uploading a recent version

[2017-08-28 13:59] #281 closed

[2017-08-29 10:14] emmanuelle opened #289 "move to scikit-image 0.12 for building?"
Would it be possible to move to scikit-image 0.12 for building the website (in circle.yml)? 0.12 was released in March 2016 and is included in Ubuntu zesty (0.13 in arty).

I'll take care of the modifications if everybody thinks we do this version bump.

[2017-08-29 10:27] gertingold commented on #289
+1 The code examples contain deprecated code which is something we should avoid.

In this context, I am wondering whether we should set up a requirements file. In this way, it would be clear which versions of the packages the lecture notes are intended for and it would be easier to get rid of deprecation warnings and similar errors.

[2017-08-29 14:15] GaelVaroquaux commented on #289
+1.

+1 Also, we could use this file in the CI configuration.

[2017-08-30 08:11] GaelVaroquaux opened #292 "Bumping version numbers"
We should bump version numbers. It's unfortunately quite hard, because conda has a lot of constraints across version numbers (due to the availability of binary packages). It requires fiddling with version numbers.

I've done this in #290 in the .travis.yml file. I finally achieved success. It required a few hours of fiddling (look at the history of travis failures if you are curious).

Now I "only

[2017-08-31 10:13] gertingold commented on #262
It would be nice to have figures for which the relation to the packages is more obvious. Following the suggestion of displaying Bessel functions, such a figure would nicely relate to the SciPy package, while a second image of a (random?) matrix using `imshow` could be appropriate for NumPy.

[2017-08-31 10:19] gertingold commented on #263
I could contribute some of the schematic figures, e.g. in the introduction, but these would be programmed using PyX. The package is pip-installable, but I am not sure whether it would be acceptable as a dependency for the SciPy lecture notes.

[2017-09-01 07:34] GaelVaroquaux opened #296 "Move to py.test"
Nosetests is no longer maintained, and py.test has a nicer runner. We should consider moving to py.tests

[2017-09-01 07:35] drvinceknight opened #297 "Change the Sympy imports to not flatten the namespace"
Currently at http://www.scipy-lectures.org/packages/sympy.html we are importing `sympy` as follows:

[code]

I suggest changing this to:

[code]

This would require modifying various calls in the docs but otherwise making no other changes.

[2017-09-01 07:36] GaelVaroquaux opened #298 "Remove all the .. plot:: directive"
We need to remove the plot directive (git grep "plot::" shows a dozen) to sphinx-gallery.

Once this is done, we should switch the build system to Py3

[2017-09-01 07:38] drvinceknight opened #299 "Write a requirements.txt file"
Potentially script generating an `environment.yml` file as well.

EDIT: see https://github.com/scipy-lectures/scipy-lecture-notes/blob/master/.travis.yml for reqs.

[2017-09-01 07:39] gertingold commented on #298
I will take a look at that.

[2017-09-01 07:41] GaelVaroquaux opened #300 "Move all "optimize.fmin" and "optimize.fmin_*" to the corresponding "optimize.minimize""
scipy.optimize.minimize is a more modern interface and should be preferred to the corresponding optimize.fmin functions.

[2017-09-01 07:42] michael-hartmann commented on #300
I will work on this :)

[2017-09-01 07:43] drvinceknight commented on #299
I'm taking this one.

[2017-09-01 07:44] GaelVaroquaux opened #301 "Move circleCI to Python 3"
This needs #298 to be done first.

[2017-09-01 07:45] GaelVaroquaux commented on #292
Closing: implemented

[2017-09-01 07:45] #292 closed

[2017-09-01 08:13] aheilmaier commented on #272
@GaelVaroquaux I will give it a try. Just starting to read the CONTRIBUTING.rst. Trying to figure out to translate the requirements section for MacOSX.

[2017-09-01 08:52] GaelVaroquaux commented on #289
Tackled in #302

[2017-09-01 08:56] pdebuyl commented on #297
Is `sym' a somewhat standard abreviation for sympy? `sympy` is short enough that it could left as is no?

[2017-09-01 08:58] GaelVaroquaux commented on #270
If people want to pick this up, this is done in the packages/statistics.index.rst file and in the intro/scipy.rst. These files can serve as examples.

[2017-09-01 10:01] pdebuyl commented on #289
Changing the deprecated filter `hsobel` to `sobel_h` makes it work with skimage 0.12 and 0.13.

If there is interest, the change is here: https://github.com/pdebuyl/scipy-lecture-notes/tree/fix_hsobel

[2017-09-01 10:01] drvinceknight commented on #297
Sym is the recommended abbreviation (and also what I personally use in my teaching).

Leaving it as `sympy` is an option (just as long as `numpy` but the status quo is `from sympy import *` which I would suggest is not a good approach.

[2017-09-01 10:09] #289 closed

[2017-09-01 10:10] GaelVaroquaux commented on #289
@emmanuelle  @pdebuyl : the build system is now on skimage 0.12, and passing!

A PR to make the corresponding skimage more modern would be welcome.

[2017-09-01 10:10] drvinceknight commented on #297
I am happy to pick this up and open a PR. If it is preferred to not make the move or to change to anything else that can be closed/modified :)

[2017-09-01 10:13] GaelVaroquaux commented on #297
I have no string opinion on what the best practice is in terms of
shorthand for sympy. Should we simply ask the sympy developers?

[2017-09-01 10:13] drvinceknight commented on #299
Closed by #302

[2017-09-01 10:13] #299 closed

[2017-09-01 10:15] drvinceknight commented on #297
Sure I'll ask on twitter.

FWIW in https://books.google.de/books?id=nHDtDAAAQBAJ&pg=PA264&lpg=PA264&dq=sympy+as+sym+best+practice&source=bl&ots=ky-RFj96Rx&sig=qJP8-gx0Ro4F9hVGKaFehHUIXck&hl=en&sa=X&ved=0ahUKEwi9ibyn4IPWAhVC1RoKHfNvD74Q6AEISjAG#v=onepage&q=sympy%20as%20sym%20best%20practice&f=false it has `import sympy as sym`

[2017-09-01 10:17] drvinceknight commented on #297
and this tweet (from sympy): https://twitter.com/SymPy/status/678954093914759168

[2017-09-01 11:02] pdebuyl commented on #297
fair enough :-)

[2017-09-01 11:38] drvinceknight opened #308 "Change from `solve` to `solveset` in `sympy`"
In http://www.scipy-lectures.org/packages/sympy.html#equation-solving solving equations is shown with `sym.solve`. This has been depreciated in favour of `sym.solveset`. This page has a number of questions and answers describing why. These include:

My understanding is that at some point `sym.solve` will be removed. As described at http://docs.sympy.org/latest/modules/solvers/solvers.html:

I am h

[2017-09-01 12:51] gertingold commented on #270
I will work on it.

[2017-09-01 13:16] drvinceknight commented on #297
Closed by #307

[2017-09-01 13:16] #297 closed

[2017-09-01 13:17] pdebuyl commented on #296
Fow now, I have good success with running

    python3 -m pytest --maxfail 2 --doctest-glob '*.rst' --ignore advanced

that runs the doctests.

I ignore `advanced` for now because in it compiled extensions need to be build. It is only a matter of time prioritization, I couldn't get there yet :-)

[2017-09-01 13:20] drvinceknight commented on #296
They seem to hang for me with a matplotlib figure being open (ubuntu). If I can figure out which figure that is, it's easy to fix: just need to close it.

[2017-09-01 13:20] pdebuyl commented on #296
python 2 or 3?

[2017-09-01 13:21] pdebuyl commented on #296
nevermind, they both do it actually

[2017-09-01 13:45] GaelVaroquaux commented on #298
Fixed by #310!

[2017-09-01 13:45] #298 closed

[2017-09-01 13:46] drvinceknight commented on #296
[code]

this no longer hangs but various failures appear. Hunting them down now :) Probably just need to specify the options right. :+1:

[2017-09-01 16:54] #308 closed

[2017-09-05 13:17] pdebuyl commented on #296
Almost there in #321 :-) Only compiled extensions are omitted.

[2017-09-06 18:31] GaelVaroquaux commented on #270
Closing as implemented by #316. Thanks @gertingold !

[2017-09-06 18:31] #270 closed

[2017-09-06 18:33] GaelVaroquaux commented on #245
Implemented in #320 . Closing

[2017-09-06 18:33] #245 closed

[2017-09-06 18:34] GaelVaroquaux commented on #202
Fixed in master

[2017-09-06 18:34] #202 closed

[2017-09-06 18:36] GaelVaroquaux commented on #84
Closing as no longer relevant. The ecosystem has evolved.

[2017-09-06 18:36] #84 closed

[2017-09-06 18:40] souravsingh commented on #301
@GaelVaroquaux We only need to change the Miniconda version [here](https://github.com/scipy-lectures/scipy-lecture-notes/blob/master/build_tools/install.sh#L39) for this to be fixed, correct?

[2017-09-06 18:50] GaelVaroquaux commented on #301
Darn, I just noticed that #302 removed the control of the Python version from our build system. That needs to be fixed. Any takers?

[2017-09-06 18:56] GaelVaroquaux opened #325 "Restore Python 3 in the build system"
Before #302, the build system would choose the Python version used from an environment variable, which was set in the build matrix of the CI.

However, when build_tools/install.sh was simplified, that feature was lost. Hence we lost the ability to have a build matrix on the Python version.

In our install.sh we probably need to add the Python version to the environment.yml, hence adapting the stra

[2017-09-06 18:56] GaelVaroquaux commented on #301
I've add an issue for that: #325

[2017-09-06 19:10] souravsingh commented on #301
@GaelVaroquaux I can work on #325

[2017-09-06 20:00] GaelVaroquaux commented on #301
Awesome!!! Thanks!

[2017-09-06 20:10] #83 closed

[2017-09-10 11:18] GaelVaroquaux commented on #296
Fixed in #321  and #327. Thanks @pdebuyl !

[2017-09-10 11:18] #296 closed

[2017-09-10 11:19] GaelVaroquaux commented on #88
Closing as implement in #327

[2017-09-10 11:19] #88 closed

[2017-09-12 12:45] pdebuyl commented on #301
Sorry, hadn't seen this prior to do my tests, see #328

[2017-09-12 12:46] pdebuyl commented on #325
See #328

I added the environment variable `PYTHON_VERSION` to the script `requirements_to_environment.py` and `environment.yml` is now created at run time. Travis and circle-ci report successful builds.

[2017-09-19 20:40] GaelVaroquaux commented on #325
This is fixed by #328 . Thanks @pdebuyl !

[2017-09-19 20:40] #325 closed

[2017-09-20 12:04] pdebuyl commented on #151
Isn't this fixed by now?

[2017-09-20 13:08] GaelVaroquaux commented on #151
No. This issue is about using specific tags (that I do not know) that
makes it that the ">>>" is skipped when using the mouse to select text.

[2017-09-20 13:59] pdebuyl commented on #151
Ok. The sphinx theming loads the pygment-generated css that cannot have html-specific styling. The best way seems to add a custom css file that complements the prompt styling with the above properties.

To avoid selecting the output as well (that is not wished for copy-pasting the input only), I suggest to also prevent the selection of the prompt output. The css classes are ".gp" (for general prom

[2017-09-20 17:57] pdebuyl commented on #151
Fixed by #330

[2017-09-20 17:57] #151 closed

[2017-09-27 13:36] michael-hartmann commented on #215
This issue may be closed.

[2017-09-27 13:36] michael-hartmann commented on #300
This issue may be closed.

[2017-09-28 10:40] GaelVaroquaux commented on #215
Thanks!

[2017-09-28 10:40] #215 closed

[2017-09-28 10:40] GaelVaroquaux commented on #300
Thanks!

[2017-09-28 10:40] #300 closed

[2017-10-01 12:53] gertingold opened #333 "scikit-learn-logo.png missing"
Line 9 `packages/scikit-learn/index.rst` refers to `images/scikit-learn-logo.png` which seems to be missing. Is it ok to get the image from the scikit-learn github repo? If yes, I can prepare a corresponding PR.

[2017-10-01 13:17] GaelVaroquaux commented on #333
Yes it is. I can also add the file when I get home tonight.

⁣Sent from my phone, please excuse typos and briefness​

On Oct 1, 2017, 14:54, at 14:54, Gert-Ludwig Ingold <notifications@github.com> wrote:

[2017-10-01 13:19] gertingold commented on #333
Ok.

[2017-10-01 18:02] GaelVaroquaux commented on #333
Fixed in 08f3aaa3be71e3ab0515126adf9917eae7c5457a

[2017-10-01 18:02] #333 closed

[2017-10-01 18:06] GaelVaroquaux opened #335 "Releasing soon"
Just a heads up that I think that we could do a release soon: we have a bunch of major improvements that were done lately.

Things to do:

* [x] Merge #334
* [x] Merge #332
* [x] Maybe switch CircleCI to Python 3 by default
* [x] Check that the PDF renders well

[2017-10-01 18:54] gertingold commented on #335
Does the html build work for Python 3? I am encountering a problem which seems to be caused by the fact that `version`defined in `conf.py` is of type `bytes`. A call to `sub` fails in Python 3. That is why I wrote #334 for Python 2. If I am doing something wrong and the build works fine for everybody else, I would rewrite #334 to Python 3 before the release.

[2017-10-01 18:59] pdebuyl commented on #335
The line

    version = p.stdout.read().strip().decode()

of `conf.py` succeeds on Python 2.7 and 3.5 on my computer. It is included in #332.

With this PR, I can build the html and run the tests for Python 2 and 3 as:

    make test
    make test PYTHON=python3

    make html
    make html PYTHON=python3

The directories `auto_examples` must be cleaned up after a `make html` at this point if you

[2017-10-01 19:03] gertingold commented on #335
Perfect. I did my test without #332, so that's why. I will update #334 to Python 3.

[2017-10-01 19:04] GaelVaroquaux commented on #335
I am merging #332

[2017-10-01 19:20] pdebuyl commented on #335
Cool :-) I'll be glad to see an updated version online.

Maybe a few extra checks can be done before release:
- [ ] Assess #243
- [ ] Use matplotlib 2.0? Or at least check that matplotlib 2.0 builds the html correctly (I believe it does but I have tons of warnings).
- [ ] quick proofread of the build/contribute instructions? (I can do that).

[2017-10-01 19:20] pdebuyl commented on #335
Also, any timeline for the release? 1 week / 2 weeks?

[2017-10-01 19:25] GaelVaroquaux commented on #335
I fear that updating to matplotlib 2.0 will be a lot of work, because the implicit dependencies of conda will force us to update more packages, and hence work on the doctests again. I think that this is something that we could do in a later release.

With regards to timeline, I actually wanted to do it last week (as with the school year starting, those lecture notes are really useful, including to

[2017-10-02 13:28] pdebuyl commented on #243
Can this issue be closed, as the code is now working with Python 2/3 and that "Python 2"-isms have been removed?

[2017-10-02 13:37] gertingold commented on #243
Given #247 and the discussion in #254, the original reasons for opening this issue have been addressed. This issue should not be showstopper for a new release. So I am closing it.

[2017-10-02 13:37] #243 closed

[2017-10-02 13:56] GaelVaroquaux commented on #243
Great! This is what I thought. Thanks for confirming.

[2017-10-02 14:17] gertingold commented on #335
@pdebuyl: You offer above to proofread the build/contribute instructions. I certainly would appreciate it if you take a look at my new text (instructions for Debian/Ubuntu). Also, I wonder whether we should keep the requirements section and the section on Fedora. Both seem quite outdated or incomplete to me. Could my new text serve as a replacement?

[2017-10-02 16:45] pdebuyl commented on #335
Will do this week.

[2017-10-02 17:41] GaelVaroquaux commented on #335
I am giving a course tomorrow. Should I make a rush tonight and try to
release? I need to check the generated PDF, but I can do that tonight.

[2017-10-02 17:53] gertingold commented on #335
Concerning the building instructions, I think that my text should be more or less fine. The requirements and the Fedora section do not really seem to be up-to-date. So, if somebody agrees with this view, I could do the required changes tonight. Otherwise, I do not think that the build/contribute instructions should be a show-stopper if you want to release tonight. After all, the instructions do no

[2017-10-02 18:05] GaelVaroquaux commented on #335
With regards to the fedora section, I am not really qualified. I can have
a look later on. The question is: is it more useful to keep it, even
imperfect, or should we suppress it?

[2017-10-02 18:12] gertingold commented on #335
The main problem with the Fedora section, in my opinion, is that it does not account for the concrete requirements which we define. But I do not mind to keep it. One possibility would be to shift it after the Debian/Ubuntu section. And in the requirements section, we could put our current requirements. But this requires to keep it up-to-date.

[2017-10-02 18:16] GaelVaroquaux commented on #335
+1 for shifting after. We can also point to the requirements file,  saying that this is the one up to date.

⁣Sent from my phone, please excuse typos and briefness​

On Oct 2, 2017, 20:12, at 20:12, Gert-Ludwig Ingold <notifications@github.com> wrote:

[2017-10-02 21:06] GaelVaroquaux commented on #301
Fixed by #332

[2017-10-02 21:06] #301 closed

[2017-10-02 21:07] GaelVaroquaux commented on #335
OK, I've checked the PDF, it's OK. Python 3 build is OK, also, I'll try to release (though it's past bedtime)

[2017-10-02 23:30] pdebuyl commented on #335
I appreciate your enthusiasm, but I'd like a review myself if possible of the build instructions? (and just check `conf.py` for deprecated lines. really old deprecations actually). Also, I don't know if it is too much to ask but even though I am not a chapter author I wouldn't mind appearing on the cover. (please forgive this momentary abuse of self).

[2017-10-03 06:24] rougier commented on #335
I'll make a PR for the cover.

[2017-10-03 06:26] GaelVaroquaux commented on #335
Thanks Nicolas! I was doing it, but it seems that you're faster.

I won't have time to merge and release this morning. I need to go and
give my course.

[2017-10-03 07:34] GaelVaroquaux opened #340 "Add a "conda-html" target in the make file"
I was building this morning in a conda environment and I was thinking that there are a bit too many manual steps.

I was wondering, how easy would it be to create a Makefile target that sets up the environment if it's not available,  switches to it,  and builds there?

[2017-10-03 10:13] pdebuyl commented on #335
Good good. I have a small update for `conf.py` and for `Makefile`. As a sanity check for the project, could I do the release?

[2017-10-03 11:58] GaelVaroquaux commented on #335
No problem. I had started editing some files to prepare for the release.
I'll send a WIP that you can take over.

[2017-10-03 12:05] pdebuyl commented on #335
@gertingold I actually don't have access to a Fedora machine. Nor do I want to setup a suitable VM. I propose to delete the Fedora instructions and to replace them with "generic" instructions using pip.

I don't like the "all to conda" approach on my laptop (disk space is actually limited) and use the Debian packages for almost everything with a bit of pip.

[2017-10-03 12:11] GaelVaroquaux commented on #335
I agree with you, but I found it impossible to have the right version of
all the packages like this.

For instance, for the release (where I really need the right set of
package), I do the build with conda.

[2017-10-03 12:14] gertingold commented on #335
Replacing the Fedora instructions by "generic" pip instructions is fine with me. In fact, I am also still using virtual environments most of the time.

BTW, I am wondering whether the TeX dependencies which I have listed in the Debian/Ubuntu section are complete. LaTeX does not complain, but the output is not correct in some places. For example, around page 600, text is constrained to half the tex

[2017-10-03 12:15] GaelVaroquaux commented on #335
I did. I know why it happens, but I am not sure how to address it.

[2017-10-03 12:18] gertingold commented on #335
Neither do I. But then it is not due to LaTeX dependencies which I might have missed.

[2017-10-03 13:04] pdebuyl commented on #335
Progress in
- #341
- #343
- #344

[2017-10-03 14:35] pdebuyl commented on #335
See #342 for the final steps of the release

[2017-10-03 14:35] #335 closed

[2017-10-04 08:45] pdebuyl commented on #335
@GaelVaroquaux @gertingold the wrapfigure environment used in Sphinx's latex output is too fragile. StackExchange and the GitHub issues are full of this type of bug. The solution suggested in https://github.com/sphinx-doc/sphinx/issues/3289 and https://github.com/sphinx-doc/sphinx/issues/3701 is to suppress the action of wrapfigure as

    \renewenvironment{wrapfigure}[2]{\begin{figure}[H]}{\end{f

[2017-10-04 08:51] rougier commented on #335
Nice, I tried to build the PDF yesterday and saw the problem but did not find a way to fix it.

[2017-10-04 10:35] gertingold commented on #335
+1 for adding this before the new release.
Great, this solution works fine as far as I can see.

[2017-10-04 11:27] GaelVaroquaux commented on #335
If you've checked the PDF output and it's nicer, please do include it.

Thanks!

[2017-10-08 04:37] wigging opened #346 "Fix font size for retina (high resolution) screens"
The font on the http://www.scipy-lectures.org website is huge. I'm not sure if this is an issue for everyone, but on my MacBook Pro I have to zoom out on the webpage to properly view the content. Please update the site with a more reasonable font size for high resolution screens.

![screenshot](https://user-images.githubusercontent.com/6828967/31313953-a07f3bcc-abc0-11e7-930b-491cb99ab030.png)

[2017-10-09 08:38] GaelVaroquaux commented on #346
OK, so it seems that we have a CSS bug with retina displays.

Can take a screenshot of the CSS rules that are active for the text?

[2017-10-09 14:55] wigging commented on #346
Can you explain how I should take a screenshot of the CSS rules with the Safari web browser?

[2017-10-09 20:05] rougier commented on #346
You can use the "inspect element". I got the same output, here is the result

<img width="1680" alt="untitled" src="https://user-images.githubusercontent.com/327203/31356283-c6e59008-ad3d-11e7-83f5-0b6694361722.png">

[2017-10-10 00:07] wigging commented on #346
Changing the body font-size to 100% looks much better.

[code]

[2017-10-11 08:41] pdebuyl commented on #346
Any way to "emulate" this display for non-retina computers?

[2017-11-05 09:00] surfer190 opened #349 "Update image for numpy fancy indexing"
In the image http://www.scipy-lectures.org/_images/numpy_fancy_indexing.png

It reads:

`mask = array([1,0,1,0,0,1], dtype=bool)`

but it should be:

`mask = np.array([1,0,1,0,0,1], dtype=bool)`

[2017-11-08 13:53] bayjan opened #350 "Part 1.5 about global minimum"
On part 1.5 about global minimum, the `optimize.basinhopping(f, 0)` gives correct answer, but `optimize.basinhopping(f, 3)` gives the same minimum point as `optimize.minimize(f, 3`). My version of scipy is 0.19.1.
Actually it is described on the documentation of `optimize.basinhopping`
_For stochastic global optimization there is no way to determine if the true
global minimum has actually been fou

[2017-11-08 13:55] GaelVaroquaux commented on #350
Do you want to right a very short text on this and submit a pull request
with a small "topic" directive in the right spot?

[2017-11-08 14:09] bayjan commented on #350
Wow, thank you for your very quick reply.
OK, I can do that, but documentation is pretty well-described. So, maybe a text I copied from the documentation can be put as a "Warning" or "Note".

[2017-11-08 14:17] GaelVaroquaux commented on #350
A warning would be good. But we need to summarize more: scipy-lectures is
a condensed document, that's what people like about it.

[2017-11-08 15:04] bayjan commented on #350
OK. So, here is my suggestion:

**Warning: `optimize.basinhopping` may not return the global minimum**
Try multiple starting points to find the global minimum.
For example, in this case:
[code]

[2017-11-08 15:09] GaelVaroquaux commented on #350
This is great! Could you send a pull request.

⁣Sent from my phone. Please forgive typos and briefness.​

On Nov 8, 2017, 16:05, at 16:05, jb <notifications@github.com> wrote:

[2017-11-17 14:08] #350 closed

[2018-01-04 22:29] krother commented on #283
I just did a few of the exercises to test them for my students. The material is generally awesome. I was a bit surprised that some figures (quiver) look different on matplotlib 2.0.2.
Are you interested in updating the dependency, as it would improve plot quality in some cases and make adoption easier?

I am aware that this would require checking through 100+ auto-generated plots manually. I would

[2018-01-05 06:05] rougier commented on #283
That would be awesome! This chapter needs to be updated but I do not have much time right now. But I should be able to review the PR.

[2018-01-06 08:37] krother commented on #283
I got the development system running and updated figures in the NumPy and matplotlib chapters. The dev branch is here: https://github.com/krother/scipy-lecture-notes/tree/matplotlib2/intro Will let you know when I'm done with the rest.

[2018-01-08 14:27] pdebuyl commented on #349
Hi @surfer190 thank you for the notice.

Unfortunately, the source of the image is not part of the repository and it would be some work to redo-it. As the code there is not copy-pastable, the damage is minor. I label as wontfix and close. I'll reopen if there are more notifications of this flaw being a distration to users of the the lectures.

[2018-01-08 14:27] #349 closed

[2018-01-08 14:41] heyutu opened #358 "Wrong code for example 2D arrays (such as images)"
http://www.scipy-lectures.org/intro/numpy/array_object.html

In the section 1.3.1.4. Basic visualization, the code for example 2D arrays (such as images) is wrong, also wrong in the pdf version.

![image](https://user-images.githubusercontent.com/2776867/34675682-ad082f58-f48a-11e7-9503-902b579550ae.png)

[2018-01-08 14:53] pdebuyl commented on #358
Hi @heyutu

Thank you for raising the issue. I'll work on this soon.

[2018-01-08 15:01] gertingold commented on #349
If there is interest, I could redo it in Python (using [PyX](http://pyx.sourceforge.net), see [source](https://github.com/gertingold/euroscipy-numpy-tutorial/blob/master/images/src/array3d.py) and [PDF](https://github.com/gertingold/euroscipy-numpy-tutorial/blob/master/images/array3d.pdf) for an example). Formally, this would add a dependency on PyX, but on the other hand, the image would be in th

[2018-01-08 15:10] pdebuyl commented on #349
I am not super enthusiast with the idea of adding any dependendy, altough if the images are committed to the repo statically (no need of PyX for other developers and/or users), it'd be nice to fix this sometimes :-) Let's wait for encouragement.

[2018-01-08 15:22] gertingold commented on #349
I completely agree and that is why I did not go ahead with recreating some of the figures, even though in my own work I like to have sources for the figures, making it easier to modify them in case of need.

[2018-01-13 21:26] pdebuyl opened #359 "Use a maintenance branch"
I propose to create a maintenance branch (2017.1.i) so that we can merge bugfix-type PRs that fix typos, rendering, etc.

We would use the master branch for developing 2018.x, for instance.

The website could be redeployed on minor releases, or even using a rolling release (2017.1.roll).

[2018-01-18 08:38] #358 closed

[2018-02-07 01:30] Yensan opened #361 "Some figure without code"
I read this chapter and notice this figure.
http://www.scipy-lectures.org/packages/statistics/index.html#student-s-t-test-the-simplest-statistical-test

It is not frequent to see, and hard to find out how to make out through google.  But, **there is no sample code** at all!  Can you add one? For an greenhand, it is really hard to do.

[2018-02-07 07:15] gertingold commented on #361
It seems to me that the main difficulty in reproducing this plot is that it is not specified what really is depicted.

As a side remark, it is not optimal that three colors are used in the plot even though the meaning of only two colors is explained. The reader has to guess that the third color is obtained by superposing the other two colors.

[2018-02-07 07:57] Yensan commented on #361
@gertingold ,You're absolutely right.
I don't even know what the figure what really is depicted. It is not [matplotlib's hist figure](https://matplotlib.org/gallery/statistics/histogram_features.html#sphx-glr-gallery-statistics-histogram-features-py)

color is ok, alpha is to strong, so you look it confusing

[2018-03-09 13:56] pdebuyl commented on #279
Hi @zpz thank you for the report.

`bytes(x.data)` seems to work properly across the Python2/3 gap, I will try it instead.

[2018-03-16 11:31] vahtras commented on #131
I agree. This is an awesome library and anyone with time to write such a section is welcome to do so.

[2018-03-20 13:32] pablogps opened #364 "Incorrect code in 1.3.1.4. Basic visualization"
The examples for 1D plotting and 2D plotting have the same code (which is right for the 1D example).

[2018-03-20 13:34] pdebuyl commented on #364
Hi @pablogps

Thank you for the feedback!

Can you please provide a link to the page (ideally a direct link to the subsection)? This will save us a lot of time in making sure that we address the issue you have observed.

[2018-03-20 13:52] pablogps commented on #364
It would be here:

http://www.scipy-lectures.org/intro/numpy/array_object.html#basic-visualization

[2018-03-20 14:52] pdebuyl commented on #364
Thank you for the update. We did fix the issue but did not update the online version to reflect the update. I will update the web version shortly and only close the issue then.

[2018-03-20 14:59] pablogps commented on #364
Thank you, very efficient! :)

[2018-03-20 15:19] pdebuyl commented on #359
@vahtras @gertingold @rougier @GaelVaroquaux @emmanuelle

I think of updating the web version, like, in the coming hours. There have been only minor fixes (typos, small bugs, etc) since the release 2017.1 so I see nothing blocking an update.

For testing the build/upload process, I uploaded the pages to http://pdebuyl.be/tmp/sln/ (temporarily)

[2018-03-20 15:24] pdebuyl commented on #359
BTW: the motivation is that some users report already fixed bugs.

[2018-03-20 15:47] vahtras commented on #359
Go ahead!

[2018-03-20 21:42] #364 closed

[2018-03-21 10:29] GaelVaroquaux commented on #359
Yes!! That's awesome. Thank you!

[2018-03-21 11:19] pdebuyl commented on #359
Done yesterday evening. I propose to keep this issue open for communication purposes.

[2018-03-22 09:19] pdebuyl commented on #79
fixed by #366

[2018-03-22 09:19] #79 closed

[2018-03-23 13:53] pablogps opened #368 "Incorrect figure in scikit-learn"
In the scikit-learn chapter you introduce the concept of regularization. You show a comparison of a 4-degree and a 9-degree polynomial fit. Then ask, "which do you prefer? Let's see the ground truth" and repeat the same graph. I suppose you wanted here to show the error for each (which should be higher for the better choice, the 4-degree polynomial).

Link to the section:
http://www.scipy-lectures

[2018-04-02 23:28] yasokada opened #369 "Incorrect code at p53 3.1.4 Basic Visualization for 2D arrays (such as images)"
In https://www.scipy-lectures.org/_downloads/ScipyLectures-simple.pdf

The code for 2D arrays (such as images) is not for 2D arrays, but for 1D plotting.

The code on the web has been corrected on the
https://www.scipy-lectures.org/intro/numpy/array_object.html#id4
but not for the ScipyLectures-simple.pdf

[2018-04-03 23:30] yasokada opened #370 "Incorrect code alignment at p55, 3.1.5. 3.1.5 Indexing and slicing for Exercise: Array creation"
In https://www.scipy-lectures.org/_downloads/ScipyLectures-simple.pdf
p55
Exercise: Array creation

The code is misaligned overlapping to the bottom of the page.

[2018-04-08 20:00] pdebuyl commented on #370
Dear @yasokada

Thank you for the report, it is very useful for us to receive feedback!

We are aware of the problem, which shares its origin with #239 so I close this issue. Your issue will be listed in the conversation of #239 so that it will not go unseen but the discussion remains in a single issue for us. In short, some LaTeX environments have trouble in keeping "in place" and we have no good

[2018-04-08 20:00] #370 closed

[2018-04-08 20:05] pdebuyl commented on #369
Dear @yasokada

Is it for section 1 3.1.4 ? If so, I see the updated version. Can you reload the file and report on whether you still see the error?

Thanks,

Pierre

[2018-04-09 00:25] yasokada commented on #370
Dear Pierre

I see.

For the related issues, I will follow #239.

Best regards

Yasuhiko OKADA

[2018-04-11 03:34] yasokada opened #371 "minor mistake > 1.3.1.3. Basic data types > Strings: sample code (no need for "," at last)"
At
https://www.scipy-lectures.org/intro/numpy/array_object.html#basic-data-types
Strings:

`py
f = np.array(['Bonjour', 'Hello', 'Hallo',])
`

Above sentence can run but it should better be below.

`py
f = np.array(['Bonjour', 'Hello', 'Hallo'])
`

[2018-04-12 03:44] yasokada opened #372 "mistake > 3.1.7 Fancy indexing > mask = array([1,0,1,0,0,1], dtype=bool)"
https://www.scipy-lectures.org/intro/numpy/array_object.html#fancy-indexing

In the figure,
[code]
should be
[code]
if not star-imported for numpy.

[2018-04-18 09:01] pablogps opened #373 "Section 3.6.7.2. wrong labels in image"
This section applies a SVM to classify face images. An image is created to show how well it did, including the predicted labels (black if right, red otherwise). These labels are incorrect (it is very easy to see that the faces don't match).

The label code is
`ax.set_title(faces.target[y_pred],
                 fontsize='small', color=color)`

but should be

`ax.set_title(y_pred, fontsize='small',

[2018-06-17 14:12] rnelsonchem opened #374 "Mobile view shown from desktop/laptop"
When I navigate to the starting page from my laptop (Chrome, Windows PC), the text on the main page is huge. It seems like it might be showing a mobile view by default. I have to decrease the scaling to about 80% until the page looks normal. The site looks fine from my phone.

[2018-06-18 19:08] rnelsonchem commented on #374
Update. On my work desktop, the site appears fine. Both my laptop and desktop are using the same version of Chrome (67.0.3396.87 64-bit official build). I've attached a non-zoomed in view of the site from my laptop computer below -- as you can see, the text is way too large.

![image](https://user-images.githubusercontent.com/3750670/41556582-3c27e348-7309-11e8-8aae-1aab311abe84.png)

[2018-06-18 19:14] pdebuyl commented on #374
Hi, under Chromium/Linux and Firefox/Linux i see a perfectly reasonable scale. We'll have to wait for confirmation by other users to confirm and/or investigate this issue.

[2018-06-18 20:12] rnelsonchem commented on #374
Another data point... This may have something to do with screen resolution. I've tried this on two Win10 laptops with very high DPI screens (3200x1800), and both laptops show the same issue. The site displays fine on my work computer (1920x1080) or if I lower my laptop screen resolution to the same.

[2018-06-18 20:16] pdebuyl commented on #374
Your problem might be related to #346 We'll leave them both open for now.

If anyone on the team has one of these high DPI displays, that'd be good.

@rnelsonchem do you know css?

[2018-06-19 05:44] GaelVaroquaux commented on #374
I've submitted a PR that might fix this: #375.

Could people confirm / infirm?

[2018-06-22 00:16] mattip commented on #126
Please use pytest instead of nosetests

[2018-06-22 04:59] GaelVaroquaux commented on #126
Sure!

Pull request welcome, by the way :).

[2018-06-29 08:08] vahtras opened #376 "Contributions welcome on python-c++ interfacing with Boost"
A collegue of mine has tried this out and appears to work very well. Would be nice to have a section here.

[2018-07-07 17:08] bugalo opened #377 "Error in section 1.2.2.2. Containers"
I might have found an error in section "1.2.2.2. Containers", subsection "Strings". The first square shows the use of single, double and triple quotes, and the second square shows a syntax error. I understand that the second square is not supposed contain this error.

You might consider to take advantage of this error, and explain here how to use " \' " in strings. If that was the original idea of

[2018-07-07 22:44] bugalo opened #378 "Typo in section 1.2.3.5. Advanced iteration"
In section 1.2.3.5. Advanced iteration, subsection "Looping over a dictionary", in the note it reads:

Note: The ordering of a dictionary in random, ...

I understand the "in" should be changed to "is".

[2018-07-08 07:46] gertingold commented on #378
Thanks for pointing out this typo. I have opened a pull request fixing it.

[2018-07-08 08:03] gertingold commented on #377
Thank you for the remark. I prepared a pull request (#380) adding a brief explanation.

[2018-07-11 12:47] pdebuyl commented on #378
No reason to leave this open.

[2018-07-11 12:47] #378 closed

[2018-07-11 14:19] pdebuyl commented on #374
For test:
 - without the fix: http://pdebuyl.be/tmp/sln/
 - with the fix: http://pdebuyl.be/tmp/sln-retina/

[2018-07-12 09:40] GaelVaroquaux commented on #374
If no one confirms / infirms that it helps, I would be in favor of merging the PR. It cleans up the CSS, so it shouldn't be bad in general.

[2018-07-12 09:53] pdebuyl commented on #374
https://twitter.com/pdebuyl/status/1017346068583976961

I hope my web host won't crash :-)

[2018-08-02 15:10] pdebuyl commented on #374
Ok, two votes in favor and zero against. Let's merge.

[2018-08-06 23:50] #374 closed

[2018-08-06 23:50] GaelVaroquaux commented on #374
Should be fixed by #375

[2018-08-15 13:12] pdebuyl commented on #346
See #374 and fixed by #375

[2018-08-15 13:12] #346 closed

[2018-08-15 13:16] pdebuyl commented on #340
It would be annoying.

All of it should be contained in a single line in the makefile (with possible continuations via backslashes, of course) that

1. active the env
2. run "make html" there

Wouldn't a bash-type wrapper be simpler?

[code]

?

For conda envs, I do as in venvs, which is simply call the regular make html or make test.

[2018-08-15 13:25] wigging commented on #346
@pdebuyl This issue is still **not** fixed. The font size is extremely large on high-resolution displays.

[2018-08-16 08:32] pdebuyl commented on #346
Hi @wigging we currently have a rather slow publication process. The fixes only go live after a release

Does it work for you at http://pdebuyl.be/tmp/sln-retina/

If yes, I'll push for a release soon.

[2018-08-16 13:01] wigging commented on #346
@pdebuyl Yes, the tmp site looks better. The font size is still large but not as bad as the original version of the site.

[2018-08-16 13:01] pdebuyl commented on #368
@GaelVaroquaux I believe you wrote that section.

[2018-08-16 13:04] #377 closed

[2018-08-16 14:06] pdebuyl commented on #346
Thank you for the feedback.

[2018-08-16 14:08] pdebuyl opened #384 "Do a 2018 release"
We should do a release soon. This is mostly a bugfix release but if only for the update of the CSS it would be nice.

Please list below the issues that you consider important to address before the release.

For the timeline, releasing in advance of EuroSciPy 2018 woud be nice.

[2018-08-16 14:17] gertingold commented on #384
I am not against a release before the EuroSciPy but if we will have a sprint at Trento, it might make more sense to do a release afterwards (or we release twice within a short period which IMO would not necessarily be a problem).

[2018-08-17 12:40] gertingold commented on #384
This sounds strange to me. Do you understand this phenomenon? May be it is worth looking into in Trento?

[2018-08-27 03:39] Sphinxs opened #385 "Add another alternative to i / o images"
Please add more options of modules to make the i / o of images. Using `misc.imsave` ([Image manipulation and processing using Numpy and Scipy](http://www.scipy-lectures.org/advanced/image_processing/)) I couldn't save the images, I searched for another module and I found the [imageio](https://pypi.org/project/imageio/) module.

[2018-08-27 09:49] GaelVaroquaux commented on #385
Can you do a pull request that adds a "topic" note on this, please?

Thank you !

⁣Sent from my phone. Please forgive typos and briefness.​

On Aug 27, 2018, 05:39, at 05:39, Walter <notifications@github.com> wrote:

[2018-08-30 13:05] GaelVaroquaux commented on #384
Git stores previous versions of things like images.

We can try doing magic to reset the history.

[2018-08-31 06:40] gertingold commented on #384
You are of course right, I had misinterpreted the remark by @pdebuyl somewhat. We could rewrite history by removing commits. The question would be whether there are commits which should not be touched because they concern files which are not created from other sources under version control. The number of commits is still reasonable, so this could be done during the sprint tomorrow.

[2018-09-01 07:44] GaelVaroquaux opened #386 "Warn that Python 2 is deprecated"
We need to add a big red warning (using the "warning" directive of sphinx) that Python 2 is deprecated and that people need to use Python 3.

Someone should read to first couple of chapter of the lectures to make sure that they convey the right message in this regard.

[2018-09-01 10:31] GaelVaroquaux commented on #371
Fixed by #389

[2018-09-01 10:31] #371 closed

[2018-09-01 11:45] GaelVaroquaux commented on #384
I believe that I have addressed the problem of the repo size, but I don't know how to check it.

[2018-09-01 11:50] GaelVaroquaux commented on #386
Fixed. Closing.

[2018-09-01 11:50] #386 closed

[2018-09-01 13:11] gertingold commented on #263
A first step is made in #392 in order to address #372. The image is in a sense still static but now a source is available, thus allowing for improvements of the image.

[2018-09-01 13:38] GaelVaroquaux commented on #384
I've fixed the CIs. I will release soon.

[2018-09-01 17:58] gertingold commented on #384
In principle, I have also the numpy_indexing figure ready in a new version. However I can only do a PR once I am back home. So if you want to release this evening, go ahead. And congrats for the success with circle CI!

[2018-09-01 18:01] GaelVaroquaux commented on #384
I just did a release (via my mobile phone, walking to the Trento station).

But maybe we can do another soon.

⁣Sent from my phone. Please forgive typos and briefness.​

On Sep 1, 2018, 19:59, at 19:59, Gert-Ludwig Ingold <notifications@github.com> wrote:

[2018-09-01 18:48] GaelVaroquaux commented on #384
OK, release done!

Closing.

[2018-09-01 18:48] #384 closed

[2018-09-01 19:02] GaelVaroquaux opened #394 "CSS: Fix fontsize for mobiles"
There used to be a CSS hack that increased the fonts size for high density display, to make it easier to read on mobile. This gave too large fonts on Macbooks with retina display. As a result,  #375 removed this hack. But now the fonts are too small on mobile phone.

[2018-09-01 19:07] GaelVaroquaux opened #395 "Chapter on parallelism: contribution wanted"
The high-level parallel libraries have matured so much that it is now possible to do fairly easy parallel computing. Now is probably the time to add a chapter on this in scikit-learn.

I would see the following sections:

1. joblib
2. dask
3. concurrent.futures

[2018-09-01 19:10] GaelVaroquaux commented on #395
If someone picks this one up, I'm sure that @mrocklin would be happy to help on the dask part.

[2018-09-03 09:29] GaelVaroquaux commented on #372
Fixed by #392

[2018-09-03 09:29] #372 closed

[2018-09-20 17:49] moble opened #402 "Memory leak in Numpy C-API example"
Following a [similar a report of a similar issue in my own code](https://github.com/moble/quaternion/issues/92), I found a very snippet of code [here in the scipy lectures](https://www.scipy-lectures.org/advanced/interfacing_with_c/interfacing_with_c.html#numpy-support) that's very close to my own (possibly because I stole mine from here???).  The example shows how to wrap the `cos` function so th

[2018-09-20 20:31] seberg commented on #402
Random comment, I find that snippet a bit strange, because NpyIter has nice stuff to iterate both arrays at once, it will even allocate the out array for you if you want. Other then that, I do not see why the INCREF there is needed, I do think that `out_array` should be initialized to NULL probably to make the error path save. Anyway, would have to carefully check things as well to be sure.

[2018-10-13 06:47] westurner opened #403 "BinderHub support"
BinderHub support would be helpful.

There's an environment.yml in this repo, but AFAICS the all of the .ipynb's are in one folder in a different repo ( https://github.com/scipy-lectures/scipy-lectures.github.com/tree/master/_downloads ) and they don't contain output?

Binder builds Docker containers with repo2docker:

- https://repo2docker.readthedocs.io/en/latest/config_files.html#config-files

[2018-10-13 07:04] westurner commented on #403
How and where are the .ipynb's built? https://github.com/matthew-brett/nb2plots ?

[2018-10-13 14:31] souravsingh commented on #395
I would be willing to help on this. Should I start with joblib first?

[2018-10-13 17:56] GaelVaroquaux commented on #403
By the sphinx, sphinx-gallery does provide integration with binder. I
think that we would welcome a pull-request to scipy-lecture to turn it
on. I must confess that I've seldom been very successful with binder;
probably because of the load on this service.

[2018-10-13 20:11] westurner commented on #403
https://sphinx-gallery.readthedocs.io/en/latest/configuration.html#binder-links

bndr.it supports a BinderHub server url preference so that bndr.it
shortlinks open in the user's preferred binder instance. It'd be great to
add support for this extra level of indirection in sphinx-gallery.
https://bndr.it/b/settings

What would need to happen to keep the .ipynb files organized in the same
directory

[2018-10-13 21:50] GaelVaroquaux commented on #403
Sounds like a good it. Do you want to open an issue in sphinx-gallery?

I think that this is the sort of thing that is controlled by sphinx. But
I don't know how to do this, or whether it is possible. One would have to
ask a sphinx guru.

[2018-11-03 04:56] moble commented on #402
@seberg Would you say that the modern approach would basically follow [this example](https://www.numpy.org/devdocs/reference/c-api.iterator.html#simple-multi-iteration-example) from the numpy C-API docs?  The main changes I see would be (1) some obvious arg-handling stuff and (2) replacing
[code]
in the inner loop with something more like
[code]
Does that sound right?

[2018-11-03 09:02] seberg commented on #402
Yeah, sounds right. Should add at least `NPY_ITER_ZEROSIZE_OK`. Might also want to check the dtype is double I guess, which seems currently missing. Doubt the current code is even correct for complex input memory layout....

[2019-01-17 12:52] #368 closed

[2019-01-20 20:42] pdebuyl commented on #402
+1 for a PR.

I would like to know whether `PyArray_NewLikeArray` returns an objects with a refcount of one already, in which case the bug is well identified.

[2019-01-26 01:13] westurner opened #409 "SEC: https://scipy-lectures.org"
When I access https://scipy-lectures.org (over HTTPS) I get a cert error.

GitHub Pages now supports HTTPS on custom domains (with https://letsencrypt.org/)
https://github.blog/2018-05-01-github-pages-custom-domains-https/

https://help.github.com/articles/securing-your-github-pages-site-with-https/

https://help.github.com/articles/troubleshooting-custom-domains/#https-errors

[2019-01-27 13:38] pdebuyl commented on #409
Thank you for notice @westurner

I disabled the custom domain and re-enabled it, which is recommended in the instructions of GitHub. Things should be ok in one hour, if not we'll have to look at our DNS settings. (The extended comment is also intended as a record for the other maintainers of the notes). Our internal links are relative, so I just hope this will not require other changes.

Regards,

[2019-01-27 13:50] pdebuyl commented on #409
The "unsafe" warning disappeared for me. I'll close the issue if this is confirmed by others.

P

[2019-01-27 17:00] westurner commented on #409
https://www.ssllabs.com/ssltest/analyze.html?d=scipy-lectures.org
-  Sun, 27 Jan 2019 16:59:00 UTC
  "Certificate name mismatch"

[2019-01-27 17:50] pdebuyl commented on #409
The certificates are only valid for the `www` subdomain. The plain (no `www`) domain does not redirect properly. The tests for `www.scipy-lectures.org` are good: https://www.ssllabs.com/ssltest/analyze.html?d=www.scipy%2dlectures.org&ignoreMismatch=on&latest

@GaelVaroquaux are you managing the DNS record for scipy-lectures.org ? If so, can you enable a direct redirect of `scipy-lectures.org` to `

[2019-01-27 21:50] westurner commented on #409
It should work with a naked (www.-less) domain (A records); but then you'd need a redirect for existing www. links.

- [ ] http://scipy-lectures.org -> https://www.
- HSTS avoids further non-HTTPS redirects
  - CloudFlare does HTTPS redirects and HSTS

- [ ] https://scipy-lectures.org -> https://www.

[2019-01-27 21:55] GaelVaroquaux commented on #409
OK, I'll try to work this out, but DNS is incomprehensible to me, and I
must say that I am terrified to touch the configuration.

[2019-01-27 22:01] GaelVaroquaux commented on #409
@pdebuyl : I don't know how to do a redirect.

Also: is to possible to redirect the www to the non www URL? I personally don't really like the "www". It makes the url longer for no good reason.

[2019-01-28 00:31] westurner commented on #409
https://help.github.com/articles/about-supported-custom-domains/

https://help.github.com/articles/setting-up-an-apex-domain-and-www-subdomain/

servers will not automatically route redirects. You must configure www
subdomain and root domain redirects with your domain registrar.

(Or e.g. CloudFlare, which does free HTTPS redirects)

https://blog.cloudflare.com/secure-and-fast-github-pages-with-cl

[2019-01-28 00:35] westurner commented on #409
https://help.github.com/articles/about-supported-custom-domains/

https://help.github.com/articles/setting-up-an-apex-domain-and-www-subdomain/

servers will not automatically route redirects. You must configure www
subdomain and root domain redirects with your domain registrar.

(Or e.g. CloudFlare, which does free HTTPS redirects)

https://blog.cloudflare.com/secure-and-fast-github-pages-with-cl

[2019-01-28 08:33] GaelVaroquaux commented on #409
How do I do step 2 (the redirection)?

⁣Sent from my phone. Please forgive typos and briefness.​

On Jan 28, 2019, 09:25, at 09:25, Pierre de Buyl <notifications@github.com> wrote:

[2019-01-28 08:36] pdebuyl commented on #409
There is a tab in the settings, at the same level as "enregistrements dns", where you can add redirects.

[2019-01-28 10:30] GaelVaroquaux commented on #409
I am not sure what you are talking about. On the Ghandi interface, I have
no "settings" tab, and nothing that looks like "enregistrements dns" (or
the English version). The Ghandi interface allows me to add entries to
the DNS records: "A" entries, "CNAME", and the like.

I've added a "CNAME", which after googling seems to be redirect in DNS
(but honestly, I am clueless with DNS). I've deployed the

[2019-01-28 10:39] pdebuyl commented on #409
DNS timeout is 3 hours for `scipy-lectures.org`, and GitHub delay for propagating certificates is estimated at 1 hour. We'll have to wait some time anyway :-)

The CNAME is an alias, not a redirect, so the failure will remain. Let's wait for the timeouts (at 14:30) before evaluating.

I sent you an email with a screenshot of the gandi panel to make sure we are on the same page.

[2019-01-28 11:03] GaelVaroquaux commented on #409
OK, it seems that I had to change Gandi version and hence transfer the domain handling to new DNS servers to enable the redirection. I did that (I definitely feels like the sorcerer's apprentice). Now we need to wait for everything to propagate.

[2019-01-28 11:39] pdebuyl commented on #409
The new interface allows dns setup "by record", I find it much easier. I am definitely not expert on DNS but we should be able to manage this :-)

Did you setup also the redirection?

[2019-01-28 11:59] GaelVaroquaux commented on #409
I did setup up the redirect (call "forwarding" in the new interface). They told me that they needed to migrate the configuration to new servers for the redirect to work, and that it could take 24H. Let's see what happens.

[2019-01-28 13:04] westurner commented on #409
AFAIU, this means that there is now an HTTP but not an HTTPS redirect?

On Monday, January 28, 2019, Gael Varoquaux <notifications@github.com>
wrote:

[2019-01-28 13:11] pdebuyl commented on #409
Whenever the setup works correctly, we can add extra redirects via the dns provider. All http to https, for instance (i.e. for both www and non-www urls). Do we want to enforce all https?

[2019-01-28 14:07] westurner commented on #409
All HTTPS is the least risk for this sensitive material.

Does your DNS provider do HTTPS redirects? It'd need to generate SSL certs
for each domain with e.g. https://letsencrypt.org, just like GitHub and
CloudFlare.

I've emailed GitHub about just handling www. HTTPS redirects hopefully by
just optionally requesting the www. and Apex domain in the cert request
(and the cert subjectAltNames). IDK

[2019-01-28 14:17] GaelVaroquaux commented on #409
Except HTTPS is always broken due to certificates issues. I understand
the logic behind all this, but right now the whole thing is just terribly
fragile.

I think so, but I understand little to all this.

Following the instructions on Github pages, I've just deleted and
recreated our CNAME instruction on Github. They mention that this can be
necessary to trigger the update of the certificate.

I d

[2019-01-28 14:19] GaelVaroquaux commented on #409
Update: https://scipy-lectures.org/ now works! Hopefully this is not a
transitory status while some error that I've made is still propagating
through the system.

[2019-01-28 14:20] GaelVaroquaux commented on #409
Hum, looks like both work.

Can people confirm?

Once again, I hope that we have no surprise lingering in an unpropagated
change. I understand nothing of this wizardry.

[2019-01-28 15:46] pdebuyl commented on #409
The `https://www.scipy-lectures.org` to `https://scipy-lectures.org` redirect works now in one of my browsers. Maybe still a caching issue.

[2019-01-28 16:06] pdebuyl commented on #409
Now both my browsers resolve all the links and go to the non www version.

http remains http and https remains https

To me, we can leave it so. @westurner you seem to push for "all https", but in the lecture notes the code seems pretty innocent (small snippets, and mostly copy-pasted). Am I being simplistic here?

[2019-01-28 16:08] westurner commented on #409
Still getting connection reset from here. I'll check again in a few hours.
Thanks for addressing this

On Monday, January 28, 2019, Pierre de Buyl <notifications@github.com>
wrote:

[2019-01-28 16:15] GaelVaroquaux commented on #409
I think that the issue is that HTTP leave the door open to man in the
middle attack. For instance an ISP, or a government, injecting tracking
code in webpages. This has been done in the past, so the question is a
real one.

However, I'd rather wait for the dust to settle down on our HTTPS serving
before enforcing it (I am a bit traumatized by DNS :D ).

[2019-01-29 06:44] GaelVaroquaux commented on #409
OK, I'm closing this issue, and we can revisit later the idea of redirecting HTTP to HTTPS.

[2019-01-29 06:44] #409 closed

[2019-01-31 12:16] jeromedockes opened #410 "wording in definition of t-test and p-value"
section 1.5.6.3 (overview of scipy.stats in the intro) proposes a definition of
a p-value:

  "the p value: the probability of both processes being identical. If it is close
  to 1, the two process are almost certainly identical. The closer it is to
  zero, the more likely it is that the processes have different means."

However the p-value is the probability of seeing an (absolute) difference
bet

[2019-02-19 17:33] Marr11317 commented on #384
The cover page still says 2017. Is it an error, does the website link still download the 2017 version?

[2019-02-20 13:07] pdebuyl commented on #384
@Marr11317 The pdf is generated from the latest release (2018) but the cover image had not been updated. I will fix this for the next release.

Thanks for the feedback :-)

[2019-02-20 14:04] pdebuyl commented on #340
Still experimental but `conda run -n testenv make html` does that. Provide you have the conda executable in your PATH of course.

Apparently `/full/path/conda run -n testenv make html` is sufficient, one less line to type :-)

[2019-04-24 17:08] thezedd opened #419 "link to PDF files are stale on landing page: https://scipy-lectures.org/"
the pdf links in "Download" side panel on the right reflect 2017.1 while the latest version is 2018.1

https://scipy-lectures.org/_downloads/ScipyLectures.pdf
https://scipy-lectures.org/_downloads/ScipyLectures-simple.pdf

[2019-04-24 18:27] pdebuyl commented on #419
Hi,

We are aware of the problem. The pdf for the cover page was not updated for the release but the chapters match the 2018.1 release.

Thank you for the note, it is time that we do an update of the web content.

[2019-04-24 18:27] #419 closed

[2019-04-30 13:59] pdebuyl commented on #340
At least some makefile "trickery" is required to make this work.

One option:

    source /path/to/conda/bin/activate testenv && python -m pytest ...

this requires "SHELL := /bin/bash" in the makefile though and an additional rule "conda-test" or "test-conda" for it to work.

[2019-05-15 20:05] pdebuyl commented on #340
@GaelVaroquaux I will close unless there is further interest (say in the coming days)

[2019-05-16 21:35] #340 closed

[2019-05-20 06:37] tkoyama010 opened #428 "Can I add new third package which called GetFEM++?"
Hello. Thank you for a good documentation for learning  scientific Python ecosystem.
I want to add a new third-party library python-getfem++ which is the library of Finite Element Method.

http://getfem.org/

Although it is a library of C++. Most user uses it in python interface. I think that describing this library is in line with the spirit of this document.
Could you give me a opinion?

[2019-05-27 10:26] mcorne opened #430 "typo in 1.3.3.2. Structured data types / Fancy indexing"
In section 1.3.3.2. Structured data types / "Fancy indexing works, as usual", the line samples[samples['sensor_code'] == 'ALFA'] return an empty array, it should read samples[samples['sensor_code'] == b'ALFA'] to return the expected array([(b'ALFA', 1. , 0.37), (b'ALFA', 1.5, 0.37), (b'ALFA', 3. , 0.11)], dtype=[('sensor_code', 'S4'), ('position', '<f8'), ('value', '<f8')])

[2019-05-27 10:56] pdebuyl commented on #428
Hi @tkoyama010

Thank you for your interest in this project.

Our aim is to provide supporting material for the Python language, the foundational numerical packages (NumPy, SciPy, matplotlib), and for a selection of very widely used packages (such as sympy as scikit-learn).

Having a chapter on GetFEM++ is, at least in the near future, is out of the cope of the lecture notes. I'll leave the issue

[2019-05-27 12:00] pdebuyl commented on #430
Thank you for the feedback, I fixed it in the current code (not on the web yet).

This is an annoying change between python 2 and 3.

[2019-05-27 12:00] #430 closed

[2019-05-27 12:44] tkoyama010 commented on #428
@pdebuyl Thank you for your comment.

I agree.

Thank you.

[2019-05-27 12:55] mcorne opened #431 "simplify section 1.3.4.1. Polynomials example code"
In section 1.3.4.1. Polynomials, the "t = np.linspace(0, 1, 200)" line is actually misleading for a newbie (like me), it could be removed and the plotting could simply be "plt.plot(x, y, 'o', x, p(x), '-')".

[2019-05-27 13:29] mcorne commented on #431
Same thing with section 1.3.4.1. Polynomials / "More polynomials (with more bases)".
Also, plotting all in one line "plt.plot(x, y, 'r.', x, p(x), 'k-', lw=3)" is easier for inline plotting.

[2019-05-27 15:50] mcorne opened #432 "no solution in section 1.3.5.1. Array manipulations"
There is no solution for the 3 exercises in section 1.3.5.1. Array manipulations, contrary to the other sections. That would be nice to add the corresponding "Python source file". Feel free to use what I came up with below.
[code]

[2019-05-27 17:00] pdebuyl commented on #283
Hi all,

I merged a matplotlib 2.2 compatible branch today. I had to update some other packages to match the version requirements.

I propose to publish the current state as 2019.1.

I did a bit of "ménage" in the opened PR and this should be an improvement already. Then, we should update all packages to less outdated versions.

[2019-05-27 20:35] pdebuyl commented on #431
Hi @mcorne,

Thank you for the feedback. We often use a larger number of numerical points for plotting analytic functions to have a smooth rendering, which is why the example uses that.

A comment on the line

    t = np.linspace(0, 1, 200)

such as

    t = np.linspace(0, 1, 200) # use a larger number of points for plotting

would make it less confusing. What do you think?

[2019-05-28 08:04] mcorne commented on #431
I see your point. I guess the comment would help. You may want to be a bit more specific as you explained it actually, eg "# use a larger number of points for smoother plotting".
Anyway, I would still drop the line at least in one of the examples because it does not make any difference as far as plotting in this case, and it is somewhat misleading as I thought for a sec that I could not use "x" mo

[2019-05-28 09:21] mcorne opened #433 "missing ellipsoid solution in 1.3.5.2. Picture manipulation"
That would be nice to add the ellipsoid solution in section 1.3.5.2. Picture manipulation.
Feel free to use what I came up with below.
[code]

[2019-05-28 12:53] pdebuyl opened #434 "State objectives and design choices"
To @scipy-lectures/core

I write below a suggestion that could go into "About -> contributing". Then, we would have a few guidelines to help in accepting or not some of the contributions.

Objectives:
- Provide a self-contained introduction to Python and its foundational computational packages (the "SciPy stack").
- Where possible, use automated testing of the code examples.
- Provide an introduct

[2019-05-28 12:59] GaelVaroquaux commented on #434
I think that this is awesome, super useful, and summarizes well our
vision.

Thank you!!!

[2019-05-28 13:50] pdebuyl commented on #432
Hi @mcorne

Thank you for your proposal. We leave intentionally such work "left to the reader as an exercise".

[2019-05-28 13:50] #432 closed

[2019-05-31 13:54] pdebuyl commented on #239
Hi all,

The situation is much better now. I suspect that it is only because of update of sphinx, however :-)

There are no more overflowing images and mostly "not too much" overwide items.

The cache of the website is not updated yet, so some patience is needed to see the current notes.

[2019-05-31 13:54] #239 closed

[2019-06-02 08:03] pdebuyl commented on #63
Seems to work again. The necessary file is `objects.inv` apparently and it is now available from NumPy.

[2019-06-02 08:03] #63 closed

[2019-06-02 09:34] esc commented on #63
👍

[2019-06-02 14:03] gertingold commented on #126
I have a chapter on testing in the lecture notes of a course I was teaching last winter term: http://gertingold.github.io/tools4scicomp/testing.html

It discusses some conceptual aspects of testing and then continues with an introduction to doctests and pytest. Would something like that be useful for the Scipy lecture notes at least to get started with a chapter on testing? Which aspects would nee

[2019-06-02 17:07] westurner commented on #126
I'd like to offer any of these verbatim or the points therein for a chapter
on testing, as well:

https://westurner.github.io/2016/10/18/criteria-for-success-and-test-driven-development

https://westurner.github.io/2016/10/17/teaching-test-driven-development-first.html

- Hypothesis testing
- Testing & refactoring: shape subclasses (OOP and/or functional paradigms)
Triangle(Shape);
Square(Rectangl

[2019-06-03 08:57] #428 closed

[2019-06-03 14:50] mcorne opened #435 "typo in 1.4.3.3. Axes"
There is a typo in the text of the first axes: .8 instead of 0.5. So:
plt.text(0.1, 0.1, 'axes([0.1, 0.1, .8, .8])', ha='left', va='center', size=16, alpha=.5)
should read
plt.text(0.1, 0.1, 'axes([0.1, 0.1, 0.5, 0.5])', ha='left', va='center', size=16, alpha=.5)

You may also want to write 0.5 instead of .5 in the other texts.

[2019-06-05 13:57] mcorne opened #436 "curve fitting of temperature data not so good"
In the "Curve fitting of temperature data" exercise in section "1.5.5.1. Curve fitting", the yearly_temps function is a much better fit if times.max() is replaced by 11. Note that I cannot explain why since times.max() == 11!

[2019-06-05 15:19] gertingold commented on #436
The fits are precisely the same in the two cases as you can see by printing ``res_min`` and ``res_max``. However, the plot of the fitting curves differs because the argument ``times`` during fitting is given by ``months`` while during plotting it is given by ``days``. Note that ``months.max()`` and ``days.max()`` differ.

I am not sure whether point 4 of the exercise refers to this issue and I do

[2019-06-05 16:09] mcorne commented on #436
Thanks for the explanation. Frankly I should have figured it out myself even if the plots misled me.
The exercise as it is looks good to me, feel free to close the issue.

[2019-06-05 17:54] #436 closed

[2019-06-06 13:34] mcorne opened #438 "wrong origin when plotting the 2D projection"
In the "2-D minimization" exercise in section "1.5.5.2. Finding the minimum of a scalar function", the origin should be set to "lower" when plotting the 2D projection (for both lines 27 and 53):
plt.imshow(sixhump([xg, yg]), extent=[-2, 2, -1, 1], origin='lower')

[2019-06-06 15:28] mcorne opened #439 "use of deprecated normed arg instead of density to generate histogram"
In section "1.5.6.1. Distributions: histogram and probability density function", normed=True should be replaced by density=True since "normed" is deprecated.
histogram = np.histogram(samples, bins=bins, density=True)[0]

Same issue in "1.5.12.7. Normal distribution: histogram and PDF".

[2019-06-13 08:13] mcorne opened #440 "factor 2 missing in calc_deri() callback"
In section "1.5.7.2. Integrating differential equations", a factor 2 is missing in the derivative calculation of the damped spring-mass oscillator exercise, calc_deri() should return:
return (yvec[1], -2 * eps * omega * yvec[1] - omega **2 * yvec[0])
instead of
return (yvec[1], -eps * omega * yvec[1] - omega **2 * yvec[0])

Same issue in "1.5.12.6. Integrate the Damped spring-mass oscillator".

[2019-06-13 14:25] mcorne opened #441 "unexpected gaussian filter sigma value"
In section "1.5.10.2. Image filtering", given that the purpose of the exercise is to filter the noise, it would make more sense to pass sigma=1 instead of 3 to the gaussian filter since the added noise is based on a standard normal distribution (sigma=1). We can then verify that the gaussian filter works as expected.

Same issue in section "1.5.12.16. Plot filtering on images".

As a side note, th

[2019-06-13 14:35] mcorne commented on #441
As a side note, the median filter works better with a size=3.
Same for the wiener filter.
Again, assuming the idea is to remove the noise as well as possible.

[2019-06-20 14:21] gertingold commented on #438
Thanks for pointing out this problem.

[2019-06-20 14:21] #438 closed

[2019-06-20 14:39] gertingold commented on #440
Thanks for pointing out this mistake. It was fixed in #442 in the meantime.

[2019-06-20 14:39] #440 closed

[2019-06-20 15:58] mcorne opened #444 "broken links in wind spring prediction page and unused code"
Links to the "Solution: Python source file" are broken in section "1.5.11.1. Maximum wind speed prediction at the Sprogø station". Each 3 links should point to the corresponding file in "intro/summary-exercises/examples".

plot_sprog_annual_maxima.py should only have the following code:
[code]

[2019-06-20 16:21] gertingold commented on #439
Thanks for pointing this out. #445 fixes the deprecated keyword argument.

[2019-07-05 14:33] mcorne opened #446 "typo in Mini-exercise: data re-interpretation solution"
In section "2.2.1.3. Data types", the the trailing [:, :, 0] should be removed from the solution that is simply: y = x.view([('r', 'i1'), ('g', 'i1'), ('b', 'i1'), ('a', 'i1')]).

[2019-07-11 12:24] pdebuyl commented on #441
Hi @mcorne thank you for the issue.

The sigma for the noise is the intensity of the noise while for the filter it represents the spatial extension of the filter, so that the two are not related by their sigma value. I don't think that specific values are necessary anyway as the point is to illustrate the filters.

Does that address the issue?

[2019-07-12 12:34] pdebuyl commented on #431
I removed the extra definitions for the Chebyshev fitting as they were useless there. I added the comment with your improvement.

[2019-07-12 12:35] pdebuyl commented on #439
And #445 is merged :-)

[2019-07-12 12:35] #439 closed

[2019-07-12 12:46] #431 closed

[2019-07-17 23:20] lucyturn3r opened #447 "Floating Table of Contents Overlapping with Content"
As shown in the image attached the floating table of contents overlaps with the actual content of the page. This image was taken on a Surface Pro 4 using Google Chrome at 100% zoom. Changing the size of this floating menu or adding a way for the menu to be collapsed would be helpful.

![image](https://user-images.githubusercontent.com/27177303/61418130-a2c66e00-a94d-11e9-9db0-a0473e5dbfe9.png)

[2019-07-22 11:44] #435 closed

[2019-07-24 10:32] pdebuyl commented on #447
Hi @lucyturn3r,

Thank you for the feedback. Testing with variable browser sizes, I could reproduce this as well.

This is a corner case of the css rendering, which we adjust depending on our own experience and on your feedback. I will look for a way to toggle it off by the user (javascript programmers welcome here).

[2019-07-24 10:35] GaelVaroquaux commented on #447
I would rather explore css media selectors rather than javascript.

[2019-07-24 11:56] pdebuyl commented on #447
Do you mean the automatic settings depending on the display width?

In my test, the result was good with firefox and with chrome *without device simulation* but erroneous (as in the issue) with device simulation, suggesting that the media selector might fail here.

[2019-07-24 12:01] GaelVaroquaux commented on #447
Fixing our CSS with the right media rules
https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries

No. Rather that our rules are incorrect.

[2019-08-02 17:17] GaelVaroquaux opened #448 "Add a note on yep in the profiling section"
We need to add a note on https://github.com/fabianp/yep which is super useful to profile c extensions. Using something like the following in the profiling chapter.

"""
.. topic: profiling C (or cython) extensions

     Yep ...
"""

@TwsThomas will try doing it.

[2019-08-05 19:04] gertingold commented on #446
Omitting the trailing `[:, :, 0]` would yield an array of shape `(10, 10, 1)`. As far as I understand, the exercise asks for a shape `(10, 10)`. Therefore, I think that `[:, :, 0]` should be kept. Do you agree?

[2019-09-06 08:00] vahtras commented on #376
Seems some projects move from boost to something else like pybind11 so this is not a priority. Closing

[2019-09-06 08:00] #376 closed

[2019-09-06 09:02] gertingold commented on #444
The problem of broken links is not only present in section 1.5.11.1 but also in other sections like 2.6.2.

[2019-09-06 09:42] gertingold opened #452 "Broken link to flymake"
In `advanced/debugging/index.rst:159` the link to `flymake` is broken. Would https://www.emacswiki.org/emacs/FlyMake be a good replacement?

According to https://www.emacswiki.org/emacs?action=browse;oldid=PythonMode;id=PythonProgrammingInEmacs#toc17, `flymake` should work out of the box. Therefore, I am not sure whether the instructions given in the lecture notes are still valid. May be somebody

[2019-09-06 09:50] gertingold opened #453 "Broken link to winpdb"
The link to http://winpdb.org is broken.

Winpdb does not seem to be maintained anymore. The latest version is from 2010, see https://pypi.org/project/winpdb/#history. There is a reborn version at https://github.com/bluebird75/winpdb, see also https://pypi.org/project/winpdb-reborn/. For the moment, there seems to be only a stable version for Python 2, while the version for Python 3 is under devel

[2019-09-06 12:43] gertingold commented on #81
This issue is addressed in #456 where I have added a short sentence at least motivating the example. I am closing the issue but it may be reopened of course if the solution proposed in #456 is not found appropriate.

[2019-09-06 12:43] #81 closed

[2019-09-06 13:32] gertingold commented on #434
An implementation is proposed in #457. Therefore, I am closing the issue which can of course be reopened if further discussion is needed.

[2019-09-06 13:32] #434 closed

[2019-09-06 14:04] GaelVaroquaux commented on #453
Not sure. I haven't used it in years.

[2019-09-06 19:47] GaelVaroquaux opened #458 "Use sphinx-gallery's binder integration"
Sphinx-gallery now haw a binder integration, used eg in scikit-learn or mne-python.

We should set it up in sphinx-gallery. Ping @betatim @choldgraf @larsoner for help there

[2019-09-08 05:45] betatim commented on #458
Because there is a `requirements.txt`/`environment.yml` in the repo already I tried to build it on mybinder.org to see what happens. Unfortunately conda thinks that there is a conflict between all the packages/versions asked for so it can't solve the environment.

I've not tried setting up the environment locally to see if the conflict arises from a package repo2docker adds or if it is because we

[2019-09-08 06:00] betatim commented on #458
Found the answer to "which Python version" in the Travis config. For repo2docker the way to select a Python version if you use a `environment.yml` is to add `python=3.5` to it. Not sure how you want to handle that as the file is generated from the `requirements.txt`.

To test drive it with a manually fixed `environment.yml`: https://mybinder.org/v2/gh/betatim/scipy-lecture-notes/betatim-patch-1

[2019-09-09 12:50] esc commented on #81
@gertingold thanks for taking care of this. I think the proposed solution is fine, thanks!

[2019-09-09 20:19] vahtras opened #459 "circleci question"
Hi you all. I spent a little time comparing details of travis and circleci, and if I am not mistaken circleci does not run the test suite at all, only a "make html" (in build_tools/circle_ci_test_doc.sh). Please correct me if I am wrong. Otherwise, unless it is a mistake, I am curious about the reason for this

Olav.

[2019-10-18 08:02] #402 closed

[2019-10-21 11:24] pdebuyl commented on #90
Hi @mwiebe points 1, 2, and 4 were addressed by  @esc in 2013 already and 3 by @seberg this year! It will come online with the next release :-)

[2019-10-21 11:24] #90 closed

[2019-10-21 12:40] GaelVaroquaux commented on #90
Awesome!! The power of open communities. Thank you so much to all those
involved!!

[2019-10-22 08:04] esc commented on #90
🎉

[2019-10-22 13:12] pdebuyl commented on #278
I needed to go as far back as NumPy 1.5 to find this erroneous behavior. NumPy 1.5 dates from 2010. I guess that we can drop the example? I ping @khinsen for his documentation on API changes :-)

Unless I receive some negative feedback (a solution might be to point out that for 10 year old numpy you should be aware of that) I'll close "as is".

[2019-10-22 13:13] pdebuyl commented on #278
BTW: Yay for anaconda.

[code]

[2019-10-22 13:17] gertingold commented on #278
+1 for dropping the example. I do not think that we should confuse people with versions of NumPy that old.

[2019-10-22 15:40] khinsen commented on #278
@pdebuyl Thanks for the ping :-)  That change caused me quite some trouble at the time, so I won't forget it. But the lectures should certainly not cover remote history. The present is tough enough as it is ;-)

[2019-10-25 11:32] pdebuyl commented on #453
winpdb states buggy python 3 support. pydbgr is vaguely mentioned in the notes but has moved since from google code to github and split into a python 2 version and a python 3 version.

I propose to remove these software recommendations as it is hard to keep up to date if none of the editors here use them. I have to admit that `print()` and the REPL are my debuggers of choice! Besides, it probably

[2019-10-25 11:34] pdebuyl commented on #452
flymake does work out of the box, I use emacs and verified. according to the info on emacswiki it is only that simple since emacs 26 (may 2018). I will submit a PR with up to date instructions and info on emacs 26.

[2019-10-25 12:56] GaelVaroquaux commented on #453
Agreed to remove winpdb. However, I think that it is useful for users to put
software recommendations. One challenge is that the landscape is moving
too fast. For instance, these days, I would add vscode, which really has
excellent Python support, including notebook support.

Aaargg.

Try using "%debug" in ipython. If you learn how to use it, it will really
make you more productive.

[2019-11-01 11:20] pdebuyl commented on #441
Unless further questions arise, I consider the issue resolved.

[2019-11-01 11:20] #441 closed

[2019-11-01 22:28] pdebuyl commented on #446
I confirm @gertingold 's interpretation. From a few tests, it seems that view maintains the rank of ndarrays, which is why the trailing dimension remains.

[2019-11-03 22:22] pdebuyl commented on #279
I actually fixed this some time ago, closing. The current version works as advertised using "bytes".

[2019-11-03 22:22] #279 closed

[2019-11-07 12:03] pdebuyl commented on #446
Unless someone has a proposal to improve the explanations, I will close this.

[2019-11-30 20:21] #452 closed

[2019-11-30 21:53] #278 closed

[2020-01-13 21:07] pdebuyl opened #463 "Add section on Python 2 / 3"
Python 2 becoming unsupported, I propose that we add a section on the whole Python 2 / 3 issue.

We should not patronize users. I propose to remain factual, pragmatic, and helpful.

- What is the transition from Python 2 to Python 3?
- How does it impact the usability of Python for science?
- Agenda of the migration: many packages are dropping support for Python 2 in coming releases.

We should pr

[2020-01-13 21:18] GaelVaroquaux commented on #463
Absolutely! Thank you for raising this issue!

[2020-01-15 13:18] pdebuyl opened #464 "update package version for build"
Local builds of the current notes is becoming difficult due to outdated packages.

Before the next release, we should make sure that we can build somewhere else than on travis or in a container.

[2020-01-16 13:42] pdebuyl commented on #464
Related: updating pytest to ">=5.1" enables us to use the option "NUMBER" https://docs.pytest.org/en/latest/doctest.html#using-doctest-options

pytest does not cause regressions in general, so I'd like to update it and to create a pytest.ini file at the root of the repo with content

    [pytest]
    doctest_optionflags = NUMBER NORMALIZE_WHITESPACE

[2020-01-16 14:41] GaelVaroquaux commented on #464
I would suggest that you go ahead and do a PR, to see if tests pass.

Thanks!

[2020-01-17 11:24] pdebuyl commented on #464
The tests run automatically on the branches in my fork (yeah for jargon!), see https://github.com/pdebuyl/scipy-lecture-notes/tree/test_number_options

Now: no error, only warning. This includes many deprecation warnings, some future deprecation and some runtime warnings.

The biggest change was the numpy printing! Also, finding an installable mix of versions was a bit annoying. I suggest we make

[2020-01-17 13:58] pdebuyl commented on #464
Note: the branch there can't be updated to Python 3.7 yet because there are no SciPy wheels for 0.19 / Python 3.7

[2020-01-17 14:37] #446 closed

[2020-01-18 10:28] TejasAvinashShetty opened #468 "conda can't create env"
I tried to build the conda env using the [contributing guidelines](https://github.com/scipy-lectures/scipy-lecture-notes/blob/master/CONTRIBUTING.rst)

conda env create -f environment.yml
Warning: you have pip-installed dependencies in your environment file, but you do not list pip itself as one of your conda dependencies.  Conda may not use the correct pip to install your packages, and they may e

[2020-01-18 12:09] pdebuyl commented on #468
currently, our collection of packages is found for Python 3.6, which version are you using? We plan on updating the versions soon but will first release a first 2020 version of the notes.

[2020-01-19 11:39] TejasAvinashShetty commented on #468
3,8
Regards,

Tejas Shetty
B Tech.Pharma
Department of Pharmaceutical Science and Technology
Institute of Chemical Technology, Matunga,
Maharashtra, India.
Contact No.: +91 9987015305,9004350057,8450978380,022 25582905
Email ID: tejasshetty.1808@gmail.com

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<

[2020-01-19 12:50] pdebuyl commented on #468
With conda, it is quite easy to achieve a python 3.6 install then.

    conda deactivate
    conda env remove testenv
    conda env create -f environment.yml python=3.6
    conda activate testenv

should work, let me know if that works for you.

[2020-01-20 12:52] pdebuyl commented on #373
Finally took the care to check this. I am less familiar with the scikit-learn chapter, sorry for the delay. This is fixed in the upcoming PR #467

[2020-01-21 10:33] pdebuyl commented on #453
Another suggestion that we provide is trepan. I can't install it via pip. The project split in a Python 2 compatible package and a Python 3 compatible package. The end result is that pip is confused. I could install trepan3k but it does not run... I propose to remove it as well. That leaves us with only pudb as an alternative.

[2020-01-21 13:52] #373 closed

[2020-01-21 13:52] pdebuyl commented on #464
closed by #467

[2020-01-21 13:53] #464 closed

[2020-01-21 21:49] pdebuyl commented on #444
Hi @mcorne thank you for the feedback, I fixed the links and deleted the dead code. This will show up in the upcoming release.

[2020-01-22 09:30] #444 closed

[2020-01-22 15:11] pdebuyl opened #472 "Release 2020.1"
- [x] #453
- [ ] #283
- [x] #463
- [x] check the release notes
- [x] update the release info in conf.py
- [ ] publish on zenodo (to discuss?)

@GaelVaroquaux @vahtras @emmanuelle

[2020-01-23 12:53] vahtras commented on #453
I agree with removing winpdb as will as trepan. Perhaps refer to stack overflow survey most used current tools, https://insights.stackoverflow.com/survey/2019#development-environments-and-tools, where yes, vscode is on top. A new editor for novices with debugging support is mu https://codewith.mu/.

[2020-01-23 13:05] GaelVaroquaux commented on #453
I am all for promoting more vscode. It's powerful, and with good
usability. I've had good success getting beginners on board with it.

[2020-01-23 14:06] pdebuyl commented on #453
Thanks for the suggestions.

PR live at http://pdebuyl.be/tmp/sln/advanced/debugging/index.html#using-the-python-debugger

[2020-01-23 14:46] #453 closed

[2020-01-24 08:51] vahtras commented on #463
Allow me to disagree. It is fine to have a historical note on the 2-3 transition now that it is 2020,  but I do not find a reason to have the notes 2/3 compatible anymore, as many major libraries already have dropped Python2 support.
My humble opinion,
Olav

[2020-01-26 05:13] StevenLi-DS commented on #463
I think the following link might be helpful for the readers.
https://python3statement.org/

[2020-01-26 13:52] pdebuyl commented on #463
@vahtras There are very few Python 2 incompatibilities in the current version. We can state that most of "2020.1" is Python 2 compatible and that's it. What do you think? Even though Python 3 is (or should be) the default by now, many scientists are barely aware of the change and Python 3 proselytism (or whatever you call) led to many negative discussions online (as far as I can tell). We already

[2020-01-26 15:13] StevenLi-DS commented on #463
@pdebuyl I actually read some recent python textbooks that claims Python 2 is still widely used. However, it's not the case for neither developers nor quant folks based on the following surveys.

https://www.jetbrains.com/lp/devecosystem-2019/python/
https://dev.pandas.io/pandas-blog/2019-pandas-user-survey.html

In fact, I think it might be worth mentioning the different between python 3.6 and ot

[2020-03-01 10:21] pdebuyl commented on #468
Hi @TejasAvinashShetty

Did it work in the end? If so, please close the issue.

[2020-03-01 22:23] pdebuyl commented on #463
@scipy-lectures/developers feedback welcome on the pull request https://github.com/scipy-lectures/scipy-lecture-notes/pull/475/files

[2020-03-02 09:45] pdebuyl commented on #283
Hi @scipy-lectures/developers @choldgraf

The current version works fine with matplotlib 2 and 3.

The main tutorial relies on code that is not executed during the tests but the examples linked are all autogenerated at build time so it is not that bad. I tested the narrative examples from the tutorial.

The major step of updating the code is ok from my point of view but we would need a auto-tested

[2020-03-02 17:24] GaelVaroquaux commented on #283
I agree that auto-tested tutorial would be better.

One option would be to rely on "notebook-style" source code for
sphinx-gallery
https://sphinx-gallery.github.io/stable/tutorials/index.html
and turn the whole tutorial into one of them.

[2020-03-02 19:40] choldgraf commented on #283
Agreed!

A similar option is to use something like [jupyter-sphinx](https://github.com/jupyter/jupyter-sphinx) which will auto-execute code on the same page as a part of running the docs

[2020-03-02 19:51] GaelVaroquaux commented on #283
Is the source the sphinx code, or .ipynb files?

[2020-03-02 20:36] choldgraf commented on #283
the sphinx code - basically, it just gives you a directive like so:

[code]

And at build time, it collects each of these chunks, executes them w/ a jupyter kernel, and shows the outputs in-line.

[2020-03-02 21:22] pdebuyl commented on #283
Does jupyter-sphinx provide testing against a reference output as well?

[2020-03-02 21:38] choldgraf commented on #283
Huh, I don't believe so but that is kind of a clever idea, I wonder if it's possible to combine the outputs with pytest somehow. Maybe worth opening up an issue in the jupyter sphinx repo? I don't think a full testing framework makes sense but maybe it could be a quick check at the end of docs pages or something

[2020-03-02 21:39] choldgraf commented on #283
Another option is that you could add a final call to jupyter-execute that runs several assert statements, and then hide it from the page output. Again it's definitely not a full test suite but could be a good way to probe the state of the kernel after running all the code on the page

[2020-03-02 22:14] GaelVaroquaux commented on #283
Overall jupyter-sphinx seems like a cool idea.

The only thing that I worry about is the dependencies. The reason that I
worry about this is that updating or environment.yml is always a
nightmare as there are gridlocks of conflicting requirements. However,
the jupyter-sphinx requirements seem fairly mild, so it might be worth
giving it a spin.

A nice side effect would be that we could use it to a

[2020-03-02 22:17] choldgraf commented on #283
for what it's worth, I think that jupyter-sphinx is planning to switch away from `nbconvert` (a heavier dependency) to `nbclient` soon (because execution functionality is being pulled out of nbconvert and into nbclient), which will be more lightweight.

Also, I see that there are options for both `hide-input` and `hide-output` here: https://jupyter-sphinx.readthedocs.io/en/latest/#directive-option

[2020-03-02 22:19] choldgraf commented on #283
also also, I wanna draw your attention to a (very, very young) project we are working on to improve writing computational documentation in Sphinx:

* https://myst-parser.readthedocs.io/
* https://myst-nb.readthedocs.io/

It's two things: a first-class markdown parser for Sphinx, and a notebook parser for Sphinx. The second project (myst-nb) will also probably define some kind of "represent an exec

[2020-03-02 22:31] pdebuyl commented on #283
@choldgraf I was indeed thinking of running pytest on the outputs. This is what we do currently and it has some good features such as test modifiers (skip a test, compare numerical values instead of character-per-character comparison, ignore whitespace differences, ellipsis for varying outputs). We also have to consider the overall complexity of the stack.

We should probably start it as a test af

[2020-03-03 18:23] #463 closed

[2020-03-04 04:30] TejasAvinashShetty commented on #468
yes

[2020-03-04 04:30] #468 closed

[2020-03-04 11:04] pdebuyl commented on #459
@GaelVaroquaux can you confirm?

Ideally, we should use continuous integration to build a "devel" version of the website, as a complement to the released version (which has benefits as well).

[2020-03-09 16:16] pdebuyl commented on #472
@GaelVaroquaux I believe that you did the zenodo archives. I'd like to put the output of the notes on zenodo on top of / in place of the code. The html file and the pdf. This could become a citable resource more easily (not that citation is a goal of the lecture notes, but I think it would fair and nice to have them exist a bit like a book for citations). Thoughts?

[2020-03-23 22:18] pdebuyl commented on #472
@GaelVaroquaux

I updated everything. I believe a fuller review of matplotlib is needed but that we should publish 2020.1 anyway.

Can you push the release to zenodo? I'll update the website.

1. use `make zip`
2. create release on github
3. add the files scipy_lecture_notes.zip  ScipyLectures.pdf to the release on GitHub
4. push the release to zenodo

This way, the zenodo archive contains the ren

[2020-04-01 09:33] pdebuyl commented on #472
@GaelVaroquaux I have done 1, 2, and 3. I cannot do 4 as it probably goes to your zenodo user, could you check? Or go to Zenodo, disable the github integration, so I'll enable it for my account.

[2020-04-02 14:19] johntiger1 opened #476 "Images links broken in mathematical_optimization/index.rst"
Image links seem broken here:

https://github.com/scipy-lectures/scipy-lecture-notes/blob/master/advanced/mathematical_optimization/index.rst

For instance:
in https://github.com/scipy-lectures/scipy-lecture-notes/blob/master/advanced/mathematical_optimization/index.rst#gradient-based-methods, there is a link to an image at
`https://github.com/scipy-lectures/scipy-lecture-notes/blob/master/advance

[2020-04-02 16:53] pdebuyl commented on #476
Hi @johntiger1 thank you for the feedback. Are you looking at the pages on github or on our website?

On the website, I see the image properly, see http://scipy-lectures.org/advanced/mathematical_optimization/index.html#gradient-based-methods

[2020-04-03 03:08] johntiger1 commented on #476
Ah, I am viewing it on the github, that's why. It works fine on the website

[2020-04-03 03:08] #476 closed

[2020-04-03 05:16] pdebuyl commented on #476
ok, thanks for closing.

[2020-04-03 23:38] pdebuyl commented on #472
Release 2020.1 is live. Only missing item is zenodo upload, I leave the issue here open until that is done (btw, I understand that priorities may be shifted entirely for many of us -> no worry about that).

[2020-04-04 08:53] pdebuyl commented on #385
`misc.imsave` is even deprecated! https://docs.scipy.org/doc/scipy/reference/release.1.0.0.html?highlight=imsave#deprecated-features

[2020-04-04 13:58] #283 closed

[2020-04-05 14:39] pdebuyl commented on #27
The background was dimmed strongly in 2015 and is about 97% white now. If the current release of the lecture notes still have a problem, please open a new issue.

[2020-04-05 14:39] #27 closed

[2020-04-05 16:27] elwolv opened #477 "SVD s and sigmal remains 1S"
numpy doc example for SVD  conversion of s to sigma to allow (sigma @ Vt) multiply does not work as s and sigma remains as 1D (728)

[2020-04-05 18:23] pdebuyl commented on #477
Hello, thank you for the feedback. Can you provide a direct link to the relevant page of our website http://scipy-lectures.org/ ?

[2020-04-06 13:04] elwolv commented on #477
hello

thank you for your respond

enclosed a word file with the contents I tried and did not work
{https://numpy.org/devdocs/user/tutorial-svd.html}

this the web page I used.
after that I used scipy web page
{https://scipy-lectures.org/}
and this did work fine, but I wanted to get the example in numpy to work on the
image for demo purpose/

thank you for your help

[2020-04-06 18:20] pdebuyl commented on #477
The web page at https://numpy.org/devdocs/user/tutorial-svd.html belongs to the NumPy project. If you need assistance with NumPy, you can try stackoverflow https://stackoverflow.com/questions/tagged/numpy or the NumPy mailing list https://mail.python.org/mailman/listinfo/numpy-discussion

Apart if there is a specific issue with the document that we manage, I will close the issue.

[2020-04-08 05:10] #477 closed

[2020-04-10 08:45] pdebuyl commented on #472
For info (and my own memory), https://o2r.info/2019/02/24/archiving-jekyll-zenodo/

[2020-04-10 08:46] #385 closed

[2020-04-13 13:22] pdebuyl commented on #94
1. PR coming
2. You (@GaelVaroquaux ) already put the example back in :-)
3. The transpose example is correct since several versions of NumPy, see https://github.com/scipy-lectures/scipy-lecture-notes/issues/278
4. I have no idea where to look at in the current source file.

[2020-04-13 13:37] pdebuyl commented on #94
To close up, I think we should merge the PR and remove the transpose warning.

[2020-05-10 15:07] biniek opened #480 "Warning running plot_mandelbrot.py"
When I try to run
scipy-lecture-notes/intro/numpy/examples/plot_mandelbrot.py /
I get following warning:

"Warning (from warnings module):
  File "C:\Users\biniek\Desktop\plot_mandelbrot.py", line 23
    z = z**2 + c
RuntimeWarning: overflow encountered in square

Warning (from warnings module):
  File "C:\Users\biniek\Desktop\plot_mandelbrot.py", line 23
    z = z**2 + c
RuntimeWarning: invalid v

[2020-05-10 19:37] pdebuyl commented on #480
Hello,

Thank you for the feedback. The code looks correct. But as some values grow to excessively large values, they overflow. The comparison operator ultimately gives, as far as I can tell, the good result.

We should check what are the guarantees on comparisons with nan or infinities here.

[2020-05-14 19:09] #480 closed

[2020-05-15 07:50] michaelcoconnor opened #482 "Lame attempt at a histogram"
I refer to https://scipy-lectures.org/intro/scipy/auto_examples/plot_normal_distribution.html.

It's difficult to see how it is an improvement over [this](https://numpy.org/doc/stable/reference/random/generated/numpy.random.normal.html?highlight=numpy%20random%20normal#numpy.random.normal) or even a passable substitute for it.

For example the blue curve on the plot, which is called a histogram, i

[2020-05-17 05:39] pdebuyl commented on #482
@michaelcoconnor

Please keep the language correct.

We do not attempt to mimick or replace the official documentation. These lecture notes provide a self-contained pedagogical reference to learn the scientific Python tools.

[2020-05-17 10:44] guillermogf opened #483 "Recommend solve_ivp instead of odeint in section 6.7.2"
Hello!

I was reading the section 6.7.2 on numerical integration of differential equations and I feel like it might need some updating. The recommended way of doing it is to use [scipy.integrate.odeint](https://docs.scipy.org/doc/scipy/reference/generated/scipy.integrate.odeint.html#scipy.integrate.odeint), but checking its documentation it recommends using [scipy.integrate.solve_ivp](https://docs

[2020-05-19 01:36] lawrencefchan commented on #262
Has this been implemented anywhere in the code? I'm looking for examples to create a consistent style, but I haven't been able to find any.

In the example given in [how to contribute](http://scipy-lectures.org/guide/index.html#figures-and-code-examples) it doesn't look like there is a reference to `plot_xxx.py`.

[2020-05-19 09:05] pdebuyl commented on #483
Hello, thank you for the feedback. Indeed, now that SciPy has included solve_ivp since some time we can move to it as the default integrator example.

If you feel comfortable with the restructuredtext format, you can propose an edit of the file intro/scipy.rst

Make sure to read our contribution guidelines https://scipy-lectures.org/preface.html#contributing

[2020-05-19 14:13] pdebuyl commented on #262
Thank you for the comment. The practice has been used to progressively replace the content but we have not documented it yet.

For the example you are working on, you can look at the file stats-interpolate.rst in the same directory, it uses the updated technique.

In short:

1. create a directory named "examples" (already done for the directory here).
2. Add a README.rst (necessary for sphinx-gall

[2020-05-25 17:12] rvyh opened #484 "Menu with transparent background"
The menu that opens from the 'sandwich' icon has transparent background, so texts overlap and are not readable.

<img width="300" alt="menu" src="https://user-images.githubusercontent.com/62675403/82832501-485d3e80-9e89-11ea-9a7c-a8f9ede9410f.png">

[2020-05-26 08:52] pdebuyl commented on #484
Hello, can you tell me at what resolution and on what device this happens? Thank you.

[2020-05-26 14:03] rvyh commented on #484
Hi! Macbook pro, 1280 x 800 (default value) retina display. Sandwich icon doesn't appear on the homepage, but on internal pages like http://scipy-lectures.org/intro/intro.html

[2020-05-26 14:40] rvyh commented on #394
Hi! yes, fonts are too small on mobile phone. But fonts are still huge on a macbook pro with retina display (1280 x 800, 13'). This is my whole screen:

<img width="400" alt="sci-macbook" src="https://user-images.githubusercontent.com/62675403/82912161-be6dae00-9f3a-11ea-9643-955fd582c83b.png">

A trick used by web developers is to add this on the head:

`<meta name="viewport" content="width=devic

[2020-05-26 20:01] pdebuyl commented on #484
Can you check the result at http://pdebuyl.be/tmp/sln/ ?

[2020-05-26 20:02] #482 closed

[2020-05-26 23:58] rvyh commented on #484
Looks better, but there is some white text on the gray background, "Previous topic"
"Next topic":

![menu2](https://user-images.githubusercontent.com/62675403/82961191-9dcd4480-9f8a-11ea-8367-4c14c59fb431.jpg)

And some pages have an empty menu, like this one: http://pdebuyl.be/tmp/sln/intro/numpy/index.html

[2020-05-27 12:00] pdebuyl commented on #484
Thank for the update. The display of "previous topic" and "next topic" has been disabled some time ago, I have to check if there was a specific reason for this. The bar at the top of the page has "next" and "previous", it might be related.

[2020-06-09 20:12] pdebuyl commented on #484
I fixed the background issue and removed the "next / previous" in the table of content. There still is a next/previous in the header bar of the pages. Some pages have an empty table of content because either the page is a table of content itself or because there is no subsection in the page.

Could you check again the preview at http://pdebuyl.be/tmp/sln/ ?

[2020-07-15 15:20] EricThomson opened #490 "plot_fftpack: power calc -- shouldn't absolute value of fft be squared?"
In plot_fftpack, for the power calculation it takes the absolute value of the fft:

[code]

But isn't the power the square of this quantity?

[2020-07-20 12:34] Den0702 opened #491 "Report of the bug"
Hello, this page https://www.scipy-lectures.org/ doesn't work.

[2020-07-21 07:33] pdebuyl commented on #491
@GaelVaroquaux could our DNS also redirect that? The plain http redirect works for http://www.scipy-lectures.org/

[2020-07-22 13:30] #490 closed

[2020-07-22 13:30] pdebuyl commented on #490
Indeed this is wrong, thank you for noticing it. I fixed it but the fix will only appear at the next release.

[2020-07-30 12:02] Den0702 commented on #491
@pdebuyl Hello, the link you have mentioned works

[2020-08-12 05:12] #484 closed

[2020-10-27 20:52] rcolyer opened #496 "Section labels mismatch"
The generated html files and pdf files have numerical section labels that do not match each other.  I was trying to curate a selection of sections for people to read, and I discovered that there is no reasonable way to do that across formats with the numbers contradicting.  The primary issue appears to be that the html goes from 1.7 to 2.1, while the pdf goes from I.7 to II.8, with the second valu

[2020-10-28 21:44] pdebuyl commented on #496
Hi @rcolyer thank you for giving feedback.

The issue is likely the sphinx LaTeX style that does not renumber chapters between parts while the html output does so. I will give it a look.

[2022-07-08 23:56] masmangan opened #501 "Replace Boston housing example with California housing example or Ames housing example"
Boston housing is deprecated and will be removed from scikit-learn datasets.
This would break the example from "3.6. scikit-learn: machine learning in Python", "[Supervised Learning: Regression of Housing Data](http://scipy-lectures.org/packages/scikit-learn/index.html#supervised-learning-regression-of-housing-data)".

Reason:
"DEPRECATED: load_boston is deprecated in 1.0 and will be removed in 1.

[2022-07-08 23:57] tbb1984 commented on #501
这是来自QQ邮箱的假期自动回复邮件。你好，我最近正在休假中，无法亲自回复你的邮件。我将在假期结束后，尽快给你回复。

[2022-07-09 12:08] pdebuyl commented on #501
Thank you for the notice @masmangan We'll switch to the CA example following scikit-learn. If you wish to contribute the change as a pull request let me know, else it'll be done in the coming weeks.

[2022-07-14 11:19] masmangan commented on #501
@pdebuyl I expect to have at least a partial solution for this issue by next week.

[2022-07-14 16:50] masmangan commented on #501
Original Boston example is here:
https://colab.research.google.com/drive/1PMos6Zy97IIil8X0de4zinFpuDjRskAd?usp=sharing

A working draft of new CA example is here:
https://colab.research.google.com/drive/1KQcOTjKJRUnzAlNpBgTdJMBZHULiVeso?usp=sharing

No done yet:
a) Plotting histogram is not working.
b) Features differ, labels need review.

Also, CA RMS is lower (0.5) than Boston RMS (2.5).

[2022-07-14 20:41] pdebuyl commented on #501
Thanks for the work!

`    plt.scatter(data.data[feature_name], data.target)`

did the plot in my test (with your notebook).

The RMS is lower, but so is the average :-) So the RMS / "mean" is probably (by looking at the plots) higher in CA.

The data is less "clean-looking" on the CA side, so the source might have not been processed in the same way. The "MedInc" plot is all over the place with pl

[2022-07-15 01:16] masmangan commented on #501
Great!
Plot is working now! Thanks!

[2022-07-15 02:13] masmangan commented on #501
@pdebuyl This is only a partial solution. Hope it helps!

[2022-07-18 09:17] pdebuyl commented on #501
It does thank you. I am testing the code now. I have had to update scikit-learn and to fix some related deprecations. I'll get it fully fixed later though (coming weeks, summertime).

[2022-08-18 11:54] pdebuyl commented on #501
fixed by #502

[2022-08-18 11:56] #501 closed

[2022-08-18 20:49] pdebuyl commented on #262
Proposal: add fives terms for a Fourier series. Quite simple and visual.

[code]

[2022-09-12 20:37] jarrodmillman opened #503 "fatal: Ambiguous object name: 'HEAD'"
@pdebuyl @GaelVaroquaux I wanted to make a PR and ran into an issue due to this tag:
https://github.com/scipy-lectures/scipy-lecture-notes/releases/tag/HEAD

Here is what happens:
[code]

Once I get access to this organization, I can fix this. In the meantime, it would be great if someone with permission would delete HEAD tag.

[2022-09-12 20:48] pdebuyl commented on #503
Mistake by me. Should be fixed.

[2022-09-12 20:49] tbb1984 commented on #503
这是来自QQ邮箱的假期自动回复邮件。你好，我最近正在休假中，无法亲自回复你的邮件。我将在假期结束后，尽快给你回复。

[2022-09-12 21:37] #503 closed

[2022-09-28 14:05] #483 closed

[2022-09-28 16:34] jarrodmillman commented on #459
We are using GH actions to run the tests now and circleci to build the docs. We are using circleci to build the docs since it allows you to view artifacts, which we do for devel version of the website using a GH action from @larsoner. It is a common pattern shared by many of the Scientiic Python core projects.

[2022-09-28 16:34] #459 closed

[2022-09-30 19:31] pdebuyl commented on #447
Can't reproduce anymore. In either the device simulator of chromium or in chrome/firefox all is fine.

[2022-11-16 20:06] jarrodmillman opened #550 "CSS and matplotlib issues"
Before
![screenshot](https://user-images.githubusercontent.com/123428/202281850-9830c487-0849-42fe-9002-2fde576e0966.png)

After
![screenshot](https://user-images.githubusercontent.com/123428/202282043-34178a9d-3200-4e4e-b16c-5c60e8e79f95.png)

I am not sure we need to completely match the previous look (especially since we may decide to move to different web infrastructure after the 2022.2 releas

[2022-11-16 20:14] stefanv commented on #550
What is "before" and "after" here?

[2022-11-16 20:18] jarrodmillman commented on #550
Before
![screenshot](https://user-images.githubusercontent.com/123428/202283856-fcbfa541-9e32-4dd2-bc7c-3cd437298d4c.png)

After
![screenshot](https://user-images.githubusercontent.com/123428/202284034-ddb8cc5d-4cdf-4830-8077-5fc989abdf85.png)

- [ ] plot of non-convex function is smaller than the convex function (they were the same size before).
- [ ] The heading `A non-convex function` isn't at

[2022-11-16 20:21] jarrodmillman commented on #550
Before is what it looked like before we started updating everything (sphinx, matplotlib, etc.). In particular, I am comparing the 2022.1 release:
- https://scipy-lectures.org/advanced/mathematical_optimization/index.html
with the version rendered for #549:
- https://output.circle-artifacts.com/output/job/44069bf2-b423-4452-a91f-d494eca01566/artifacts/0/build/html/advanced/mathematical_optimization

[2022-11-16 20:24] jarrodmillman commented on #550
Before
![screenshot](https://user-images.githubusercontent.com/123428/202286159-36fa971c-6949-4be8-98f2-bed7a703b43e.png)

After
![screenshot](https://user-images.githubusercontent.com/123428/202286320-8c3e2498-8ef1-4afd-8322-9d07f7e3bb53.png)

- [ ] math not rendered on left-side of the figure in section 2.7.1.4
- [ ] math not rendered in text in section 2.7.2.1

[2022-11-16 20:26] jarrodmillman commented on #550
Before (section 2.7.2.1)
![screenshot](https://user-images.githubusercontent.com/123428/202286785-578c1d8a-e4a7-4d1d-a1f2-5d744b979eb6.png)

After
![screenshot](https://user-images.githubusercontent.com/123428/202286950-99c5bf8c-9316-450d-833f-d31a5c102caa.png)

- [ ] Figures smushed

[2022-11-16 20:35] jarrodmillman commented on #550
This is an example of something I think is improved, but noting it since it is different:

Before
![screenshot](https://user-images.githubusercontent.com/123428/202287580-83fb96df-a88e-4bde-9cf0-9959ee9dd67e.png)

After
![screenshot](https://user-images.githubusercontent.com/123428/202288439-d53f1a41-9b07-4f9d-8ec3-954633ad530d.png)

Compare bottom plots (i.e., `An ill-conditioned very non-quadrat

[2022-11-30 05:04] stefanv commented on #550
I don't know why this happens sometimes, but doing a clean build fixes it for me.

[2022-11-30 07:14] stefanv commented on #550
I'm going to leave this one for now. A visual barrier between the images helps to locate the two columns by eye. A light yellow background isn't the best way to do that, but I don't have a good idea of what to do there right now.

[2022-11-30 07:34] stefanv commented on #550
- [ ] Latex math rendering is too big

[2022-11-30 07:35] stefanv commented on #550
Are you referring to the vertical centering of text? I agree that the new version looks better.